[2021-02-17 17:53] HimanchalChandra opened #4 "Visualizing loss and accuracy metric in Malaria detection"
I want to implement visualizations for loss and accuracy metric in malaria detection model. Can you please assign it to me?, I am a participant of GSSOC'21.

[2021-02-18 02:44] kritikaparmar-programmer commented on #4
Hey, @HimanchalChandra assigning this issue to you. Don't forget to submit the pr only when the contribution period of GSSOC'21 starts. Happy Coding :)

[2021-02-18 07:40] Bhavik-Ardeshna opened #5 "Installation issue"
when i run command
[code]
After installing all requirement it's giving me this error....I tried many time but It didn't work for me.
![Screenshot from 2021-02-18 13-07-04](https://user-images.githubusercontent.com/58507059/108321768-9e79cb00-71ea-11eb-8aca-7e56e36fe622.png)

[2021-02-18 17:42] Bindiya21 opened #6 "Import error"
Error: While importing "app", an ImportError was raised:

Traceback (most recent call last):
  File "/home/bindiya/HealthCheck/env/lib/python3.8/site-packages/flask/cli.py", line 240, in locate_app
    __import__(module_name)
  File "/home/bindiya/HealthCheck/app.py", line 12, in <module>
    classifier = pickle.load(open(filename, 'rb'))
ModuleNotFoundError: No module named 'sklearn.ensemble.fore

[2021-02-18 17:56] kritikaparmar-programmer commented on #5
Hey, @Bhavik-Ardeshna I looked into the error, it's because the model was pickeled in sklearn 0.21.1 version and now we are unpickling it in the latest version, which is causing this problem. IIf you want to work on this issue, let me know otherwise I'll work on it :)
Thanks for raising this issue!

[2021-02-18 17:58] kritikaparmar-programmer commented on #5
Hey, @Bhavik-Ardeshna I looked into the error, it's because the model was pickeled in sklearn 0.21.1 version and now we are unpickling it in the latest version, which is causing this problem. IIf you want to work on this issue, let me know otherwise I'll work on it :)
Thanks for raising this issue!

[2021-02-18 18:06] Bhavik-Ardeshna commented on #5
@kritikaparmar-programmer Hello,
I participated in GSSoc'21 and I am interested in HealthCheck project and I am really interested in working with HealthCheck.

So, please let me know the solution to debug this and run in my local machine
:)

[2021-02-19 04:22] kritikaparmar-programmer commented on #5
Yes! I'm working on it.

[2021-02-19 06:01] MiHarsh commented on #5
Hello Mam, Have you fixed this issue? Or may I try. I am new to Open Source, and solving issues might help me a lot.
Thanks

[2021-02-20 17:25] kritikaparmar-programmer commented on #5
Hey @MiHarsh @Bhavik-Ardeshna @Bindiya21 I think that the problem is resolved now take a look once again by pulling the changes
The problem was with the version of scikit-learn. Do tell me if you're still facing the problem.
Also try to install scikit-learn first using command - `pip install scikit-learn == 0.21.1`

[2021-02-20 17:25] kritikaparmar-programmer commented on #6
Refer issue #5
Closing this issue.

[2021-02-20 17:26] #6 closed

[2021-02-20 17:41] kritikaparmar-programmer commented on #5
Join Slack Community for further discussion
You can sign up here: https://join.slack.com/t/newworkspace-bzg8318/shared_invite/zt-mkgixmly-GFjx2bFPetz837_V24h_1Q

[2021-02-20 17:53] kritikaparmar-programmer opened #9 "Updation in Readme.md"
There will be many first-time contributors to the repository, update the readme.md file with proper instructions and screenshots on how they can make their first step towards Open Source.

[2021-02-21 04:44] Bhavik-Ardeshna commented on #5
[https://github.com/scikit-learn/scikit-learn/issues/17430](url)

Giving installtion error of scikit-learn specific version error

[code]

[2021-02-21 04:55] kritikaparmar-programmer commented on #5
Hey @Bhavik-Ardeshna can you please tell your python version?

[2021-02-21 05:03] kritikaparmar-programmer commented on #5
Hey, @Bhavik-Ardeshna I saw your error it is coming because the Scikit-learn 0.21 version is supported by Python 3.5-3.7 versions and your version of python is 3.8. Kindly take a look if you can install the python 3.7 version then it'll work.

[2021-02-21 05:08] Bhavik-Ardeshna commented on #5
Ohhhk got it, sure I'll look into it..
:)

On Sun, Feb 21, 2021, 10:33 AM Kritika Parmar <notifications@github.com>
wrote:

[2021-02-23 06:32] nandinib1999 opened #10 "Adding a new project: Fetal Health Classification"
I would like to add a new project under the HealthCheck - Fetal Health Classification. I came across the dataset on Kaggle and it looked really interesting.
https://www.kaggle.com/andrewmvd/fetal-health-classification

I am a GSSOC'21 participant

[2021-02-23 11:28] kritikaparmar-programmer commented on #10
Hey, @nandinib1999 I found the idea really interesting, I'm assigning this issue to you. Do remember to make a pr when the contribution period for GSSOC'21 starts. Happy Coding :)

[2021-02-23 13:49] nandinib1999 commented on #10
Hi, thanks a lot!

I am participating in GSSOC'21 for the first time, so what to confirm - are there any deadlines for the PR submission after the contribution period starts?

[2021-02-24 04:42] kritikaparmar-programmer commented on #10
You'll be provided with 7 days to work on an issue, If you'll not submit a pr for the same in that period, the next one who comments to work on that issue will be assigned. So don't worry you'll have one week to work on one issue :)

[2021-02-25 07:37] nandinib1999 commented on #10
Okay, thanks a lot for clearing up that!

[2021-02-27 09:55] shraiyya opened #11 "Heart Disease Prediction using 7 algorithms"
- I want to add the trained model which is used to predict if users suffer from heart disease or not.
- The  classification models which are used are:

1. Logistic Regression
2. Random Forest Classifier
3. SVM
4. Naive Bayes Classifier
5. Decision Tree Classifier
6. XGBoost
7. Artificial Neural Network using Keras

- I am a GSSOC'21 participant

[2021-02-27 14:13] kritikaparmar-programmer commented on #11
@shraiyya Assigning this issue to you, also one thing make a pr when the contribution period starts. Happy Coding :)

[2021-02-28 03:28] shraiyya commented on #11
Yes Sure!

[2021-03-02 19:09] sudipg4112001 opened #12 "Add a new project: Kidney disease prediction"
I would like to add a new project for predicting kidney diseases.
Using the dataset : https://www.kaggle.com/mansoordaku/ckdisease
I am a participant of GSSOC'21

[2021-03-03 17:01] kritikaparmar-programmer commented on #12
Hey @sudipg4112001, great idea, start working on it.
Happy Coding :)

[2021-03-04 07:20] akshitadixit opened #14 "Adding retinal diabetes"
I wish to work on this issue

[2021-03-04 07:28] aakriti1318 opened #15 "Heart Disease Prediction Issues"
1. Variables names vary which lead to the error (Dataset is mentioned as Data somewhere).
2. 'rcParams' is not defined.
3. I would like to apply other algorithms to improve accuracy. (SVM, Random Forest, Xgboost)
4. Finally to check the accuracy of the model.

Please assign me to solve these issues. @kritikaparmar-programmer

[2021-03-05 04:13] kritikaparmar-programmer commented on #14
Please provide some more details on this issue :)

[2021-03-05 04:14] kritikaparmar-programmer commented on #15
Hey @aakriti1318 can you provide screenshots of the issues you are providing it will be easier for me to look. Then I can assign this to you.

[2021-03-05 13:27] sudipg4112001 commented on #12
I have done a PR please review it.

[2021-03-05 14:15] aayushibansal2001 commented on #9
Hi! I want to work on this issue. Can you please assign it to me?

[2021-03-05 14:27] aayushibansal2001 opened #16 "Update DiabetesNotebook.ipynb"
The notebook is not complete with the training the model and predicting the output of the trained model. So I would like to solve this issue by adding both these things to this DiabetesNotebook.ipynb

I am a participant of GSSOC'21.

[2021-03-05 17:41] akshitadixit commented on #14
Diabetes has a complication when the glucose in the blood vessels starts to gradually affect the retina of the eye. This is called Diabetic Retinopathy. The dataset below is what I came accross.

[Dataset](https://www.kaggle.com/c/diabetic-retinopathy-detection)

[2021-03-05 19:55] sudipg4112001 opened #17 "Medical loan"
I would like to add a project, which predicts wheather medical loan will be approved to the patients family for treatment purpose. Using the dataset below.
https://www.kaggle.com/ninzaami/loan-predication?select=train_u6lujuX_CVtuZ9i+%281%29.csv

I am a GSSOC'21 participant

[2021-03-06 16:48] aakriti1318 commented on #15
Hey @kritikaparmar-programmer, Yes surely
Here is the snapshot for the 1st issue.
![image](https://user-images.githubusercontent.com/56245613/110214021-a911b100-7ec8-11eb-96ce-8d87817511f2.png)

For the second issue:  'rcParams' is not defined.
![image](https://user-images.githubusercontent.com/56245613/110214172-70260c00-7ec9-11eb-94f7-fa6518608437.png)

For the 4th issue, you can assign me to ch

[2021-03-07 05:45] kritikaparmar-programmer commented on #9
Assigned to you @aayushibansal2001 🚀

[2021-03-07 06:06] kritikaparmar-programmer commented on #15
Yeah I looked at the notebook there are some issues, Go ahead @aakriti1318 assigning this issue to you :)

[2021-03-07 06:08] kritikaparmar-programmer commented on #14
Assigning this issue to you @akshitadixit Happy Coding :)

[2021-03-07 06:10] kritikaparmar-programmer commented on #16
Go ahead @aayushibansal2001 , make sure to save the model and try to make more visuals if possible, Happy Coding :)

[2021-03-07 06:54] kritikaparmar-programmer commented on #17
I think loan prediction is not needed, as this project is for disease predictions. @sudipg4112001  you can also give suggestions on this. Also, there are many diseases that are still left you can open issues for them.

[2021-03-07 08:44] #17 closed

[2021-03-07 08:47] sudipg4112001 opened #18 "Tumor analysis"
I would like to add a project based on tumor analysis for a person. Using a dataset that would contain images of brains, then I would detect whether the person is having tumor or not.

[2021-03-07 09:33] kritikaparmar-programmer commented on #18
Great idea @sudipg4112001, Assigned 🚀

[2021-03-07 19:41] AM1CODES opened #19 "Add a new Project : Pneumonia Detection"
I had a project idea that i think would be suitable for this repository and would be meaningful as well. I wanted to make an addition of a model that would help in detecting Pneumonia using the chest x-ray. I have found a suitable dataset for the same and would like to work on it.

I am a GSSOC participant.

dataset - [https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia](url)

[2021-03-08 04:49] abhish3k-11 opened #20 "Determining insulin intake for diabetic."
There's a diabetes dataset but it only determines if you have Diabetes or not. I think it would be a lot more helpful if we can determine the amount of insulin a diabetic person need to intake. I want to make an addition of a model that would help in same. I have found a suitable dataset for the same and would like to work on it. Please assign this issue to me.
I am a GSSOC'21 participant.

datase

[2021-03-08 05:14] psyduck1203 commented on #19
Hey, I'm a GSSoC`21 participant and want to contribute to this repo can you please assign this issue to me?

[2021-03-08 06:58] Akash20x opened #21 "Add Code Of Conduct"
I want to add code of conduct in your repo.
Please assign me this task as a part of GSSoC'21

[2021-03-08 07:09] AM1CODES commented on #19
@psyduck1203  i am not the maintainer. I was asking @kritikaparmar-programmer if i could work on this.

[2021-03-08 09:08] Sloth-Panda opened #23 "addition of issue and pr templates"
This repo lacks issue and pr templates so would like to add them as part of gssoc'21

[2021-03-08 09:09] Sloth-Panda opened #24 "welcome bot"
This bot welcomes and greets someone who opens an issue or makes a pr first time in this repo

[2021-03-08 10:15] kritikaparmar-programmer commented on #19
Assigning the issue to you @AM1CODES 🚀

[2021-03-08 17:39] subhangi2731 commented on #24
can I work on this?

[2021-03-08 17:45] Sloth-Panda commented on #24
@subhangi2731 hey, make an issue first then  ask to get assigned as I have already made the issues

[2021-03-08 20:36] NitiKaur opened #26 "Adding Malaria Detection"
We can also add Malaria detection as an issue in this repo.Millions of people in India and other developing countries suffer from the disease. We can detect the malarial parasite in the image of a blood cell.
I have found a dataset for the same - https://drive.google.com/file/d/1azIYjzLFCY7qp7-NjgSBvakbGgPvQlRf/view  . I want to use feature extraction techniques such as contour detection and then

[2021-03-08 20:47] NitiKaur opened #27 "Adding Brain Tumor Detection"
We can also add Brain Tumor Detection as an issue to this repository. We can detect brain tumor using CNN in keras

[2021-03-09 03:12] gopichandpuli9 commented on #27
Can I work on this?

[2021-03-09 04:23] kritikaparmar-programmer commented on #26
Hey @NitiKaur I've already implemented Malaria detection you can take a look at notebooks, and then tell me that is there something else you can do, Actually model for malaria detection is ready only making API is left. So do tell what's your suggestion on this :)

[2021-03-09 04:25] kritikaparmar-programmer commented on #27
Tumor Detection is already been asked by someone in issues. So closing this issue for now.

[2021-03-09 04:25] #27 closed

[2021-03-09 04:25] kritikaparmar-programmer commented on #24
Go ahead @Sloth-Panda 🚀

[2021-03-09 04:29] gopichandpuli9 opened #28 "Lung Disease"
Can I work on this issue.

[2021-03-09 04:31] kritikaparmar-programmer commented on #28
Can you please provide a bit more details on this, like the dataset.

[2021-03-09 04:36] gopichandpuli9 commented on #28
https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia
This is the dataset I want to work.

[2021-03-09 04:42] kritikaparmar-programmer commented on #28
Hey, @gopichandpuli9 the same issue has already been opened by someone, you can look into the issues. Please take a look at the existing issues before opening 😅

[2021-03-09 04:42] #28 closed

[2021-03-09 04:47] kritikaparmar-programmer commented on #20
Great Idea @abhish3k-11, assigning this issue to you.

[2021-03-09 04:52] gopichandpuli9 commented on #28
I've gone through the issues. But there's no one who implemented Lung disorder.

[2021-03-09 04:59] gopichandpuli9 opened #29 "Liver Disease Prediction"
https://www.kaggle.com/uciml/indian-liver-patient-records
Can I use this dataset and implement?

[2021-03-09 06:24] kritikaparmar-programmer commented on #28
Hey @gopichandpuli9 Take a look at #19

[2021-03-09 06:58] Sloth-Panda commented on #24
https://github.com/apps/welcome

hey, install the bot from here in your repo and I am sending a pr for it to work

[2021-03-09 07:11] Sloth-Panda commented on #23
@kritikaparmar-programmer should I get this done. It will help you get ideas about your issues and prs better.

[2021-03-09 07:51] JanhaviSoni opened #32 "Parkinson's Disease Prediction"
@kritikaparmar-programmer I would like to add Parkinson's disease prediction project for GSSoC'21
(https://www.kaggle.com/nidaguler/parkinsons-data-set)

[2021-03-09 09:47] sudipg4112001 commented on #18
I have made PR #13 which resolves both this issue and issue #12

[2021-03-09 09:51] sudipg4112001 commented on #18
I was not able to make a separate branch. So, I would link to request you to link this issue with the PR #13 so that it fulfils all the need.

[2021-03-09 12:30] NitiKaur commented on #26
Don'r know anything about APIs but there is a hack thru which we can display the results of the model on the webpage. The hack is using a python library.Can I work on the hack?

[2021-03-09 12:36] NitiKaur opened #33 "Adding Cervical Cancer prediction to your Cancer Notebook"
Hey! I wish to solve this issue faced by women. I will be using four algorithms
1.CNN
2.KNN
3.XGBoost
4.Random trees
I will be also using Ensemble methods if need be
Please assign this issue to me

[2021-03-09 12:43] kcoder63 opened #34 "add CONTRIBUTING.md"
add a CONTRIBUTING.md file to welcome and give a brief about the project for new contributors

[2021-03-09 13:10] aayushibansal2001 commented on #9
Thanks for assigning the issue! Can you please add GSSOC label to it so that it counts as a contribution under GSSOC'21?

[2021-03-09 15:41] abhish3k-11 commented on #20
@kritikaparmar-programmer thank you

[2021-03-09 16:47] shubhigupta991 commented on #34
You can start working on it. @kcoder63

[2021-03-09 16:48] shubhigupta991 commented on #33
You can start working on it. @NitiKaur

[2021-03-09 16:49] shubhigupta991 commented on #32
You can start working on it. @JanhaviSoni

[2021-03-09 16:49] shubhigupta991 commented on #29
You can start working on it. @gopichandpuli9

[2021-03-09 16:54] shubhigupta991 commented on #23
You can start working on it. @Sloth-Panda

[2021-03-09 17:03] JanhaviSoni commented on #32
I had a doubt regarding setting up of project @shubhigupta991 that this will get set up in Jupyter notebook itself , no extra aids will be required na?

[2021-03-09 17:21] codeshruti opened #36 "Add a new Project: Stroke Prevention"
This seems to be a relevant add-on to the project.

Dataset: https://www.kaggle.com/fedesoriano/stroke-prediction-dataset

I am a GSSOC'21 Participant.

[2021-03-09 18:45] shubhigupta991 commented on #36
You can start working in it. @codeshruti

[2021-03-09 19:13] aakriti1318 opened #38 "Infectious Diseases"
Hey, I am a GSSOC'21 participant
I would like to add a project based on infectious diseases. This will basically predict how several diseases affect gender, and which disease affects which particular area most over time.
I have found the associated dataset: https://www.kaggle.com/rishidamarla/infectious-diseases-by-american-counties

[2021-03-10 04:56] ritikkumar55 opened #40 "Pancreatic Cancer Prediction Using 5 Different Algorithms with Hyperparameters Optimization."
I want to add the some more algorithms which is used to predict if users suffer from Cancer or not.
The classification models which we will use  and will do some Hyperparameters optimizations are:
1. Logistic Regression
2. Decision Tree Classifier
3. XGBClassifier
4. CatBoostClassifier
5. LGBMClassifier

I am a GSSOC'21 participant
Please assign me  these tasks. @kritikaparmar-programmer

[2021-03-10 05:44] kcoder63 commented on #34
thank you

[2021-03-10 07:09] Siddharth1006 opened #42 "Addition of Diabetes Prediction"
I am a GSSOC'21 participant. I am interested in adding a Diabetes prediction to the project.
Data set: https://www.kaggle.com/mathchi/diabetes-data-set

[2021-03-10 07:33] #42 closed

[2021-03-10 11:22] thesakshipandey commented on #24
I have already made a bot for my website
would love to do it for you,
please assign me this project

[2021-03-10 12:40] mansi75 opened #43 "Complete data Visualization for heart disease prediction"
I am GSSOC 2021 participant, please kindly assign me this issue under GSSOC 2021.
I will do the complete visualization of the data and thorough explaination of the plots and data using various visualization libraries.

[2021-03-10 12:45] mansi75 commented on #29
@shubhigupta991 May I work on this dataset?

[2021-03-10 12:55] mansi75 opened #44 "Add a new project: Cervical cancer risk classification"
This is a good project that can be added. It's dataset is given below

https://www.kaggle.com/loveall/cervical-cancer-risk-classification

I am a GSSOC 2021 participant. Please kindly assign me this issue.

[2021-03-10 14:00] PavitraAritas commented on #18
i'm a GSSoC participant and I would like to work on this project as my first issue. Kindly assign this to me. Thankyou.

[2021-03-10 14:11] sudipg4112001 commented on #18
I have already made a PR for this issue. Kindly checkout some other issue

[2021-03-10 14:20] skybluee2001 commented on #38
Hii...I am a GSSOC'21 participant. I have worked on a similar problem before and would like to contribute to this issue. Kindly consider assigning me this issue under GSSOC'21.

[2021-03-10 14:29] skybluee2001 commented on #43
Hii...I am a GSSOC'21 participant. I want to contribute to this issue. I will visualize complex data in a simple way. I would use various visualization libraries like Matplotlib and Seaborn and would explain my plots in detail. Kindly assign me this issue under GSSOC'21.

[2021-03-10 15:22] thesakshipandey opened #45 "Issues w Requirement.txt"
Please assign this issue to me under GSSoC'21
I'll do it and also correct Python 3.7 to 3.9

[2021-03-10 15:56] kritikaparmar-programmer commented on #21
Hey, @Akash20x haven't you joined the official GSSOC'21 discord channel, all the participants are provided with the link.
Still, if you want to contact me, here is my email address - kritikaparmar07@gmail.com
you can also contact me on Linkedin - https://www.linkedin.com/in/kritika-parmar-10244a193/

[2021-03-10 16:12] Sloth-Panda commented on #24
@kritikaparmar-programmer can you please add "level0/ level1/ level2/ level3" any of the tags to the issue and pr along with "gssoc21"as per gssoc guidelines
else they wont be counted

[2021-03-10 16:15] Sloth-Panda commented on #23
@shubhigupta991 can you please add "level0/ level1/ level2/ level3" any of the tags to the issue and pr along with "gssoc21"as per gssoc guidelines
else they wont be counted

[2021-03-10 17:29] Akash20x commented on #21
OK, I will include it in Code of conduct

[2021-03-10 23:01] aishwaryachand opened #47 "Thyroid Disease Data Prediction"
hey @kritikaparmar-programmer
I would like to contribute to this repo by working on  model  for thyroid Disease Classification.  I will use some Hyperparameters optimizations as well.
This will be the data that i will be referring to .
https://archive.ics.uci.edu/ml/datasets/Thyroid+Disease

I am a GSSOC'21 participant
Please assign me these tasks.

[2021-03-11 04:29] Prachi-singhal15 commented on #24
hey, I am a participant of GSSPC'21. I would like to work on this project.

[2021-03-11 10:01] noobkid2411 opened #48 "Oral Cancer Detection"
This seems to be a relevant sub project  for this project. I would like to work on it.

Here is the source of the dataset I will use:
https://www.sciencedirect.com/science/article/pii/S2352340920300081?via%3Dihub

I am a GSSOC'21 Participant.

[2021-03-11 10:15] shreyasZ10 opened #49 "Complete Data Preprocessing, Data Visualisation, Model Selection and Hyperparameter Tuning on Diabetes Disease prediction"
I am a participant of GSSOC'21.
I would like to make some enhancement in the DiabetesNotebook.ipynb.
1) Adding Data Preprocessing
2) Data Visualisation
3) Model Selection
4) Hyperparameter Tuning

[2021-03-11 10:16] Dishita2602 commented on #33
Hello, I would willing to contribute to this project. I would be using hyperparameter tuning for decision tree, multilayer perceptron SVM, ANN and many more to get better results.

[2021-03-11 11:20] #15 closed

[2021-03-11 11:22] shubhigupta991 commented on #33
This issue is already assigned to @NitiKaur you can open a different issue

[2021-03-11 11:33] #10 closed

[2021-03-11 11:48] ashish-hacker commented on #11
Can I work on this too @kritikaparmar-programmer ? I believe dividing the work and doing will be a lot faster.
I am GSSOC'21 participant too.

[2021-03-11 11:49] Dishita2602 commented on #33
Thanks for informing

[2021-03-11 13:59] shraiyya commented on #11
@ashish-hacker  hey i am already done with the code. I will make the PR in a day or two

[2021-03-11 14:01] Dishita2602 commented on #49
Hello, I am GSSOC'21 participant and want to work on all the above mentioned issue in efficient manner.

[2021-03-11 14:44] ashish-hacker commented on #11
Ok 👍🏻 @shraiyya

[2021-03-11 17:23] #34 closed

[2021-03-11 17:38] shubhigupta991 commented on #49
Go ahead @shreyasZ10

[2021-03-11 17:40] shubhigupta991 commented on #48
Go ahead @noobkid2411

[2021-03-11 17:48] #29 closed

[2021-03-11 17:52] Dishita2602 opened #50 "Data Visualization of cancer, fetal_health, diabetes, india_liver_patient & heart"
Hey, I will be using seaborn, matplotlib and dtale library for performing exploratory data analysis & find optimum combination of features for prediction (i.e. correlation coeff & many more). Data visualization is essential in medical for detail case study. So kindly assign me !

[2021-03-11 18:00] Dishita2602 opened #51 "Prediction of india_liver_patient"
Hey, I will use hyperparameter tuning for getting optimized results. I will use SVM ,Decision Tree, XG Boost, MLP, Logistic regression and random forest. Kindly assign me. ( Currently GSSOC'21 Participant )

[2021-03-11 18:08] #24 closed

[2021-03-11 23:00] flyingsonu122 opened #53 "wrong instruction on README.md"
this will create authorization issue while adding changes

![image](https://user-images.githubusercontent.com/51280276/110866136-b1178980-82ea-11eb-9694-374100a6f46b.png)

it should be like this 🔽

![image](https://user-images.githubusercontent.com/51280276/110866752-a4dffc00-82eb-11eb-8159-63e575dd6353.png)

I can add **more changes** to it as well

[2021-03-11 23:01] flyingsonu122 commented on #53
@kritikaparmar-programmer please have a look and assign it to me

[2021-03-11 23:45] flyingsonu122 opened #54 "No matching distribution found for pandas==1.0.1"
![image](https://user-images.githubusercontent.com/51280276/110870115-d78cf300-82f1-11eb-9393-dc13ce1de96d.png)

[2021-03-11 23:49] flyingsonu122 commented on #54
it should be like this

![image](https://user-images.githubusercontent.com/51280276/110870369-4c602d00-82f2-11eb-8a32-2e0cd3f5c34e.png)

[2021-03-11 23:50] flyingsonu122 commented on #54
@kritikaparmar-programmer have a look

[2021-03-11 23:57] flyingsonu122 opened #55 "No matching distribution found for scikit-learn==0.21.1"
should be like this
![image](https://user-images.githubusercontent.com/51280276/110870917-651d1280-82f3-11eb-9f68-2d9716d239c5.png)

[2021-03-12 00:10] flyingsonu122 opened #58 "No module named 'sklearn.ensemble.forest'"
![image](https://user-images.githubusercontent.com/51280276/110871939-5afc1380-82f5-11eb-99b3-90bbf693678e.png)

[2021-03-12 04:27] Rutikab12 commented on #44
Hey I am GSSoC'21 participant, I will love to contribute to this issue. If possible assign it to me.

[2021-03-12 05:10] Sibasish-Padhy commented on #43
hiiii....I am a gssoc 2021 participant,I want to  contribute to this issue.I can do the complete data visulaization and thorough explanation of the plots and data in python

[2021-03-12 05:11] sujoy-coder commented on #55
Hey @flyingsonu122 , I think there is problem with the scikit-learn version ==0.21.1
Therefore we need to upgrade the scikit-learn version to latest version like 0.24.1

[2021-03-12 05:13] flyingsonu122 commented on #55
That is what I have done already, see in the screenshot

[2021-03-12 05:14] flyingsonu122 commented on #55
Already created a PR #57 for the same @kritikaparmar-programmer

[2021-03-12 05:16] sujoy-coder opened #59 "Modification in requirements.txt"
hey @shubhigupta991 and @kritikaparmar-programmer  , the problem with the issue #55 and #58
I want to contribute on this issue as a participant of GSSOC'21.
Please assign it to me

`changing in scikit-learn version`

[2021-03-12 05:17] Sibasish-Padhy commented on #14
I wish to work on this issue

[2021-03-12 05:39] #59 closed

[2021-03-12 05:40] sujoy-coder commented on #55
Ok.. I have closed #59

[2021-03-12 05:45] sujoy-coder opened #60 "New Route in flask app for Fetal Health Classification"
Hey @shubhigupta991 @kritikaparmar-programmer , I want to contribute on this issue as a participant of GSSOC'21. modification in `app.py`

Please assign it to me 🙏

Thank You...

[2021-03-12 06:20] ayush237 opened #61 "Lung Cancer Detection Addition to the Project"
I am a GSSoC 21 participant (DISCORD username:smoky237#5411 ), I can contribute to the Health Check project by adding a **Lung  Cancer Detection**  Route/section with a working model
The Dataset will be taken from Kaggle itself.
Kindly assign this work to me @kritikaparmar-programmer
#GSSoc

[2021-03-12 06:26] sujoy-coder opened #62 "beautify predicted h_result.html page"
HI, I want to contribute on this issue as a participant of GSSOC'21.

#### Modifications
1. Place html Footer to its proper position
2. Add Interactive Output Text in one line ...

etc...

Please assign it to me...

Thank You....

#### Existing Page Looks Like :
![Screenshot (17)](https://user-images.githubusercontent.com/65298629/110901208-f6a77700-8329-11eb-8dcc-849b158dcb98.png)

[2021-03-12 09:04] ksh168 opened #63 "Public website deployment"
Hi I would like to work on deploying it's public website under GSSoC'21. I'll be using pythonanywhere/heroku.
Please assign this issue to me.
Thanks!

[2021-03-12 09:46] gopichandpuli9 opened #64 "Kidney disease prediction"
Could you please assign this issue to me!

[2021-03-12 10:01] #63 closed

[2021-03-12 10:09] shubhigupta991 commented on #60
What type of modification you want to make?

[2021-03-12 10:28] sujoy-coder commented on #60
There is already a pretrain **Fetal Health** model. I just want to use that model in flask app by creating a new route in `app.py` just like diabetes and cancer route which area there in app.py.

Thank You...

[2021-03-12 10:51] sujoy-coder opened #65 "bugs in CONTRIBUTING.md"
HI @shubhigupta991  , I want to contribute on this issue as a participant of GSSOC'21.
I find an error in `CONTRIBUTING.md` that is Highlighted in the picture :

![Screenshot (18)](https://user-images.githubusercontent.com/65298629/110929588-1a7cb400-834e-11eb-8a9c-0a1e5c6b6747.png)

**The Problem is `origin` remote is not set there before pushing to origin we must set the origin remote link, like

[2021-03-12 12:00] rohank2502 opened #66 "Update tech stack used section in read me"
I will like to update the tech stack section used in read me file by replacing with their logo this will make our read me more attractive ! Will like to work on this issue as soon as I get assigned !!

[2021-03-12 12:01] rohank2502 opened #67 "Automatic Contributor update"
I will like to add a feature which will update the contributor list automatically will start work on this issue as soon as I get assigned !

[2021-03-12 14:33] kritikaparmar-programmer commented on #55
Hey @flyingsonu122 take a look at this issue - https://github.com/kritikaparmar-programmer/HealthCheck/issues/5

[2021-03-12 14:47] flyingsonu122 commented on #55
Just merge my PR it will fix this issue

[2021-03-12 15:00] flyingsonu122 opened #68 "Which branch to be used for PR"
Whether default branch ( here main ) or master branch to be used for creating a PR

[2021-03-12 15:03] flyingsonu122 commented on #68
@kritikaparmar-programmer have a look

[2021-03-12 18:27] shubhigupta991 commented on #60
Go ahead @sujoy-coder

[2021-03-12 20:07] Srijan205 commented on #53
i would like to work on this issue

[2021-03-12 20:08] Srijan205 commented on #65
i would like to work on this issue

[2021-03-12 20:09] flyingsonu122 commented on #53
already I am working on it

[2021-03-12 20:12] flyingsonu122 commented on #55
@kritikaparmar-programmer what are you waiting for

[2021-03-13 03:48] ritikkumar55 opened #70 "Can we allowed to use streamit to contribute in this repository."
Is streamlit  image classification web app allowed to contribute in this repository.

[2021-03-13 03:49] ritikkumar55 opened #71 "Can we allowed to use streamit to contribute in this repository."
Is streamlit  based image classification web app allowed to contribute in this repository.

[2021-03-13 04:18] kritikaparmar-programmer commented on #68
hey @flyingsonu122 please do not create issues for such small things you can ask them on discord or slack channel, here default branch is main

[2021-03-13 04:18] #68 closed

[2021-03-13 04:52] kritikaparmar-programmer commented on #4
@HimanchalChandra updates?

[2021-03-13 05:04] kritikaparmar-programmer commented on #71
The same issue opened twice, Please avoid such kinds of things.

[2021-03-13 05:04] #71 closed

[2021-03-13 05:06] kritikaparmar-programmer commented on #65
Hey, @sujoy-coder never open a pr, until you're assigned for the issue or until any mentor reviews the pr.

[2021-03-13 05:29] sujoy-coder commented on #65
My bad..
What should I do now?

[2021-03-13 06:11] kritikaparmar-programmer commented on #55
@flyingsonu122 First of all in Open Source you are not allowed to make a pr until you're assigned with the issue, and second is that if you've taken a look in the issue I said then it will explain you why the scikit learn version is not 0.24, I pickled the model in version 0.21 and we can't unpickle the model in different version as the version 0.21.1 is supported by python 3.7

[2021-03-13 06:14] kritikaparmar-programmer commented on #11
@shraiyya updates?

[2021-03-13 06:17] kritikaparmar-programmer commented on #14
@akshitadixit updates?

[2021-03-13 06:22] shraiyya commented on #11
I m done with the first 6 algorithms. I am trying to improve my ANN accuracy. I will definitely  submit before Monday EOD.

[2021-03-13 06:23] kritikaparmar-programmer commented on #19
@AM1CODES updates?

[2021-03-13 06:27] kritikaparmar-programmer commented on #65
This issue was already assigned to someone and that or is also merged, so closing this PR for now.

[2021-03-13 06:27] #65 closed

[2021-03-13 06:37] AM1CODES commented on #19
@kritikaparmar-programmer i have already made a PR few days ago. It awaits confirmation from one of the reviewers.

[2021-03-13 07:04] flyingsonu122 commented on #55
but 0.21 is not working

[2021-03-13 07:06] sujoy-coder opened #73 "Missing command in CONTRIBUTING.md"
Hey @kritikaparmar-programmer , There is a missing command in `CONTRIBUTING.md` file, marked in the **picture** . After forked the repo how to clone the repo in my local computer.
I want to add that line..
Please assign it to me 🙏

### Picture

![Screenshot (29)](https://user-images.githubusercontent.com/65298629/111022419-9df2df80-83f8-11eb-9e10-50e7fa0d7ed9.png)

[2021-03-13 07:29] #36 closed

[2021-03-13 08:14] sal-glitch commented on #64
@gopichandpuli9 Is it possible to work on this issue together? I am GSSOC participant too.

[2021-03-13 08:27] kritikaparmar-programmer commented on #38
Hey, this dataset contains only Califonia's stats, as we can't be specific to any place so can't add this to our project, closing this issue for now :)

[2021-03-13 08:27] #38 closed

[2021-03-13 08:27] kritikaparmar-programmer commented on #40
Can you please provide the dataset @ritikkumar55

[2021-03-13 08:29] kritikaparmar-programmer commented on #43
Okk @mansi75 you can to exploratory data analysis of heart data, make a new notebook in the notebooks folder named - eda_heart. Happy Coding :)

[2021-03-13 08:30] kritikaparmar-programmer commented on #44
@mansi75 I've assigned you one issue, first work on that :)

[2021-03-13 08:31] kritikaparmar-programmer commented on #45
No, it's python 3.7.

[2021-03-13 08:31] #45 closed

[2021-03-13 08:32] kritikaparmar-programmer commented on #47
@aishwaryachand assigning you the issue. Make a new notebook in the notebooks folder named - Thyroiddisease

[2021-03-13 08:34] kritikaparmar-programmer commented on #51
Hey @Dishita2602 we can't be just specific to one place, thus can't add this to our project for now. I'll be opening some new issues keep an eye on them

[2021-03-13 08:34] #51 closed

[2021-03-13 08:35] kritikaparmar-programmer commented on #55
What is the version of python on your local system @flyingsonu122

[2021-03-13 08:37] flyingsonu122 commented on #55
3.8.3

[2021-03-13 08:40] akshitadixit commented on #14
Yes. I am onto the tuning part. The weekend might do it.

[2021-03-13 08:40] flyingsonu122 commented on #5
Whole world is using python 3.9.2 and you are on 3.5-3.7

Atleast make it compatible with 3.8.x

[2021-03-13 08:43] flyingsonu122 commented on #55
Whole world is using python 3.9.2 and you are on 3.5-3.7

Atleast make it compatible with 3.8.x

@kritikaparmar-programmer

[2021-03-13 08:47] kritikaparmar-programmer commented on #61
@ayush237 please share the dataset you want to work on

[2021-03-13 08:48] kritikaparmar-programmer commented on #73
@sujoy-coder This is already implemented in Readme.md, also if you're assigned for one issue then don't ask for another until it's completed. Thanks :)

[2021-03-13 08:48] #73 closed

[2021-03-13 08:49] kritikaparmar-programmer commented on #67
Which contributor list you want to update @rohank2502

[2021-03-13 08:50] kritikaparmar-programmer commented on #66
Hey please do not open new readme issues, I've created one issue for readme, you can comment there what new you want to add and when you get assigned you can make a pr for that.

[2021-03-13 08:50] #66 closed

[2021-03-13 08:52] kritikaparmar-programmer commented on #64
this is already issue #12
Please first take a look at the already implemented or existing issues than open a new issue.

[2021-03-13 08:52] #64 closed

[2021-03-13 08:53] kritikaparmar-programmer commented on #62
@sujoy-coder great idea, you can implement this once you complete your one assigned issue.

[2021-03-13 09:09] rohank2502 commented on #67
I will like to include the contributor list in read me

[2021-03-13 09:10] rohank2502 commented on #9
I will like to add the tech stack used in this project in read me

[2021-03-13 09:30] aishwaryachand opened #74 "Diabetes Prediction - EDA and Model Update"
Hey, @kritikaparmar-programmer I would like to add more data visualization and add evaluation methods in the Diabetes notebook present in rep. Pls, assign me this issue.

[2021-03-13 09:57] Rutikab12 commented on #44
Yeah working on it. I had comment it before that issue. Excuse me for bothering you .

[2021-03-13 11:02] Dishita2602 opened #75 "Notebook on COVID 19 Prediction of Total Confirmed Cases in India"
Hey, I have done prediction with 99% accuracy using SVR, Naive Bayes Regression, Random Forest and Polynomial Regression. So if you want to add this project kindly assign me.

[2021-03-13 11:11] sujoy-coder commented on #60
Ok... Thnx

[2021-03-13 12:53] ritikkumar55 commented on #40
Dataset Link : https://www.kaggle.com/loveall/cervical-cancer-risk-classification

[2021-03-13 15:11] barnamensch056 opened #77 "EDA, Modelling using DNN of Heart Attack Possibility."
1.Data analysis using pandas.
2.Data visualization using matplotlib and seaborn.
3.Modelling ANN with keras and tensorflow.
4.Evaluating the model.
5.Storing the model in pickle file.

[2021-03-13 16:01] #23 closed

[2021-03-13 16:15] aishwaryachand commented on #74
Just realized someone is already working on this. So closing this issue.

[2021-03-13 16:15] #74 closed

[2021-03-13 19:38] Dhanush2612 opened #79 "Breast Cancer Prediction"
ML model to predict if a patient has breast cancer or not.

[2021-03-13 20:18] #53 closed

[2021-03-14 04:23] akshitadixit commented on #14
@kritikaparmar-programmer for some reason this issue isn't being counted in my gssoc profile, will it be counted after it is closed?

[2021-03-14 05:37] akshitadixit commented on #14
Also I am halfway stuck in my CNN approach since the accuracy is very poor. Meanwhile I came across this [link](https://www.sciencedirect.com/science/article/pii/S2352914820302069) and seems like I might have to change either my approach and begin fresh or completely work on a new dataset.

You can unassign the issue to me if someone else is waiting in line, cz i am a beginner and will take time.

[2021-03-14 09:02] Ashsakshi19 opened #82 "Melanoma Detection"
@kritikaparmar-programmer I would like to add Melanoma (Skin Cancer) detection project for GSSoC'21
(https://www.kaggle.com/c/siim-isic-melanoma-classification)

[2021-03-14 10:02] kritikaparmar-programmer commented on #79
It is already implemented @Dhanush2612

[2021-03-14 10:02] #79 closed

[2021-03-14 14:26] kritikaparmar-programmer commented on #67
Okay @rohank2502, start working on the issue.

[2021-03-14 14:27] kritikaparmar-programmer commented on #58
Just rerun the notebooks in your local system, I think that will fix this issue.

[2021-03-14 14:27] #58 closed

[2021-03-14 14:28] kritikaparmar-programmer commented on #55
Okay, I've started working on it. Closing this issue for now

[2021-03-14 14:28] #55 closed

[2021-03-14 14:37] kritikaparmar-programmer commented on #82
Assigned @Ashsakshi19

[2021-03-14 15:45] kritikaparmar-programmer opened #85 "Welcome to GirlScript Summer of Code '2021"
Hello everyone 🙋‍♀️
First of all thanks for showing your interest in GirlScript Summer of Code and becoming a part of this project. We welcome all types of contributions to this project.

Here are the Mentors for the Project:
| Mentor's Name |
| ------  |
|<a href="https://github.com/shubhigupta991">Shubhangi Gupta</a> |
|<a href="https://github.com/utkarsh0702">Utkarsh Mishra</a> |
|<a href="http

[2021-03-14 17:55] #32 closed

[2021-03-14 19:30] #60 closed

[2021-03-14 19:37] shubhigupta991 commented on #77
What extra features you think are missing in the existing notebook and you can provide?

[2021-03-14 19:38] shubhigupta991 commented on #50
Assigned @Dishita2602

[2021-03-14 20:40] spsrathor commented on #16
The model made in this notebook ( RandomForest ) is having only 80% accuracy. I will like to improve the accuracy of same by trying other models.

I am also in GSSOC21

[2021-03-15 06:11] barnamensch056 commented on #77
Have done univariate analysis and bivariate analysis. Also detected the outliers and modelled it using dense neural network.

[2021-03-15 07:03] muthuannamalai12 opened #89 "Create Code of Conduct"
I would like to add a code of conduct file as the code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-03-15 07:03] muthuannamalai12 commented on #89
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 08:41] rayushbpgc commented on #44
Hi, I'm am participant, I would like to work on this project. Please assign me.

[2021-03-15 08:47] #67 closed

[2021-03-15 08:48] kritikaparmar-programmer commented on #89
Already implemented @muthuannamalai12, please firsts take a look at already implemented issues or pr's. Closing this issue.

[2021-03-15 08:48] #89 closed

[2021-03-15 09:19] kritikaparmar-programmer opened #90 "Result page for Fetal Health prediction not working"
## **Describe the bug**
Result page for Fetal Health prediction not working

## **Screenshots**
![Screenshot 2021-03-15 144535](https://user-images.githubusercontent.com/59971890/111130674-7ee18280-859d-11eb-928b-82ec3118df06.png)

[2021-03-15 09:26] kritikaparmar-programmer opened #91 "Making homepage for the project more attractive"
## **Is your feature request related to a problem? Please describe.**
Making the homepage for the project more attractive. Right now the home page is dull.

![Screenshot 2021-03-15 145233](https://user-images.githubusercontent.com/59971890/111131727-8d7c6980-859e-11eb-94b7-421cf8a90323.png)

[2021-03-15 09:54] HOTSONHONET commented on #91
@kritikaparmar-programmer I'm a GSSOC'21 participant and I would like to work on this issue. If assigned my plan is to use python -dash served over flask to make the homepage more like an interactive dashboard. If you like the idea, please assign this issue to me

[2021-03-15 17:50] AryaPatel1111 opened #93 "ANN for the Cancer Prediction"
## **Added the ANN**

- I have added a ANN in the Cancer prediction which involves 4 layers which involves 3 hidden layer and was able to achieve 97.36% accuracy. It includes use of TensorFlow and confusion matrix.
- I would like to create a pull request if accepted.

[2021-03-15 18:28] JanhaviSoni opened #94 "Correcting the file"
## Proposal

Adding .pkl to the heart file
@utkarsh0702 Please assign this

[2021-03-15 18:35] JanhaviSoni opened #95 "Binary file not found"
## **Binary file not found **

The models folder doesn't have any file for Pneumonia detection thought the file is generated in the code but it is missing in models folder

## **Need to add the generated file**

- Running code and generating.

@kritikaparmar-programmer Please look into this

[2021-03-15 19:43] #49 closed

[2021-03-16 05:06] #21 closed

[2021-03-16 07:56] Dhanush2612 opened #96 "Diabetes Classification using Neural Network"
A neural network using Keras that classifies risk for diabetes based on health data.

[2021-03-16 07:57] Dhanush2612 opened #97 "Diabetes Prediction Model"
ML model to predict diabetes.

[2021-03-16 12:05] utkarsh0702 commented on #94
@JanhaviSoni This is not some kind of an issue.

[2021-03-16 12:11] utkarsh0702 commented on #95
@JanhaviSoni The model was build using transfer learning, so the model is bigger in size and is stored in a shared drive folder.

[2021-03-16 12:11] #95 closed

[2021-03-16 12:12] utkarsh0702 commented on #97
@Dhanush2612 It's already built. Please check: https://github.com/kritikaparmar-programmer/HealthCheck/tree/main/Models

[2021-03-16 12:12] #97 closed

[2021-03-16 12:31] Dhanush2612 commented on #96
@kritikaparmar-programmer can you suggest me any other model that can be implemented in this project?

[2021-03-16 12:32] Dhanush2612 commented on #97
@kritikaparmar-programmer can you kindly suggest me amy other model that can be implemented in this project?

[2021-03-16 12:35] Dhanush2612 commented on #44
@kritikaparmar-programmer @utkarsh0702
Hi, can you kindly  assign me this issue?

[2021-03-16 13:02] #94 closed

[2021-03-16 14:43] RajeshJampa opened #98 "Diabetes prediction using machine learning models and visualization"
i found a dataset on kaggle about diabetes prediction by their symptoms which has 2k data points,by using machine learning models in one of the notebook they got 98.3% accuracy,I want to work on that and I will try to increase the accuracy by feature engineering and data cleaning,kindly assign this issue for me

[2021-03-16 17:58] sujoy-coder commented on #62
@kritikaparmar-programmer My previously assigned issue has been completed which is also merged with main branch of this project.
Can I start working this issue ?

[2021-03-16 18:56] AshuKV commented on #91
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 18:57] AshuKV commented on #90
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-17 11:15] mansi75 commented on #43
@kritikaparmar-programmer
Kindly review my pull request
https://github.com/kritikaparmar-programmer/HealthCheck/pull/103

[2021-03-17 11:55] shubhigupta991 commented on #93
You should not create a PR until you are assigned with the issue. I am reviewing your PR this time. Next time it will not be accepted.

[2021-03-17 12:18] Divyang0601 opened #104 "Improving the efficiency/performance of the Breast cancer model"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-17 14:01] AryaPatel1111 commented on #93
I had contacted @utkarsh0702 via email and asked about it.  He asked me create a PR

[2021-03-17 22:37] amandewatnitrr opened #105 "Adding IoT feature to obtain realtime health parameters"
## Proposal

Adding IoT feature to obtain realtime health parameters. As far as we are helping, people identify these diseases, we can include some hardware, IoT based stuff that will help it to send realtime temperature, dissolved oxygen (SpO2), ssugar level etc. That can actually be a good idea.

Hardware requirements (I have them.):
1. Raspberry Pi/Arduino
2. Sensors (DSB1820 Temp Sensor, IR Te

[2021-03-18 05:50] #19 closed

[2021-03-18 08:57] Ayushisood commented on #91
@kritikaparmar-programmer Hey ,Can I work on this issue under GSSOC'21
Will make the homepage more attractive using bootstrap.

[2021-03-18 13:02] shubhigupta991 commented on #40
Assigned @ritikkumar55

[2021-03-18 13:55] ritikkumar55 commented on #40
Thank you @shubhigupta991

[2021-03-18 18:12] srimontidutta opened #106 "COVID19 Prediction"
COVID19 Prediction through chest X-rays.

[2021-03-18 19:00] shubhigupta991 commented on #90
yes go ahead @AshuKV

[2021-03-18 20:04] aelbasioni commented on #58
I have a similar error message "ModuleNotFoundError: No module named 'sklearn.ensemble._forest'". I'm using python 3.7.0 I don't know what to do to solve it. Please more clarification because I'm very new to python & AI world

[2021-03-19 04:13] AryaPatel1111 opened #107 "Addition of Thyroid Prediction"
## **I had like to add thyroid prediction notebook and dataset to this project.**

- I will be taking the dataset of thyroid from University of California Irvine datasets https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/sick-euthyroid.data

## **Adding the prediction of thyroid based on following features:**

- Age, Sex, Anti-thyroid medication, surgery for thyroid, on thy

[2021-03-20 09:10] Anas-Issa opened #109 "Pneumonia Detection Model"
I am a gssoc'21 participant, and I would like to add a Pneumonia detection model to the project.

I will be using the Chest X-Ray Images (Pneumonia) dataset:
[Dataset](https://www.kaggle.com/paultimothymooney/chest-xray-pneumonia)

[2021-03-20 11:32] aditi1403 opened #110 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #108.

[2021-03-20 20:11] utkarsh0702 commented on #109
@Anas-Issa We already have it. https://github.com/kritikaparmar-programmer/HealthCheck/pull/30

[2021-03-20 20:19] utkarsh0702 commented on #105
@amandewatnitrr Your idea is great 👍.  But unfortunately we can't have it as in the end we would be releasing the website and the users will be using it, but they won't have the access to the IOT hardwares.
Even if we add it people couldn't acess it, so then what will we gain from adding it.

[2021-03-20 20:22] utkarsh0702 commented on #98
@RajeshJampa 98.3% is the training accuracy, what about test accuracy and validation accuracy?

[2021-03-20 20:34] utkarsh0702 commented on #107
@AryaPatel1111 We have already assigned thyroid prediction to someone else.
https://github.com/kritikaparmar-programmer/HealthCheck/issues/47

[2021-03-20 20:43] Anas-Issa commented on #109
@utkarsh0702 Sorry for the inconvenience, I will try to find another feature to be added to the project.

[2021-03-20 22:16] AryaPatel1111 opened #111 "Fatty Liver Prediction"
## **Addition of Fatty Liver disease**

- Predicting whether a person is going from fatty liver problem or not based on the level of different vitals and another different compound.

[2021-03-20 22:16] #107 closed

[2021-03-21 03:54] #109 closed

[2021-03-21 04:08] RajeshJampa commented on #98
@utkarsh0702 98.3% roc_auc_score on the test set only sir

[2021-03-21 07:26] LayaMitta commented on #110
I am GSSOC'21 participant, can I work on this issue?

[2021-03-21 10:07] Anas-Issa opened #112 "Covid-19 Detection Model"
I am a gssoc'21 participant.I would like to add a Covid-19 detection model to the project.

COVID-19 Chest X-ray Image Dataset: [Here](https://www.kaggle.com/alifrahman/covid19-chest-xray-image-dataset)

[2021-03-21 13:06] #93 closed

[2021-03-21 18:39] manan-bedi2908 commented on #104
@Divyang0601 Assigned to you!! Go ahead

[2021-03-22 19:43] ayush-raj8 opened #115 "Time series forecasting covid 19 case"
We can use covid 19 data of last one year of India to forecast cases in near future. Dataset can be got for Ministry of health. I would like to work on it.

[2021-03-22 20:09] vaishnavipatil29 opened #116 "Improving efficiency for "Prediction of presence of heart disease in the patient" Model Using Deep Learning"
I am GSSOC'21 Participant. I want to Improving efficiency for "Prediction of  presence of heart disease in the patient" Model Using Deep Learning. Please assign me the issue.

[2021-03-23 20:04] mohdaadilf commented on #5
Is there a workaround for this? Not too keen on downgrading Python.

[2021-03-24 03:04] AryaPatel1111 commented on #111
@utkarsh0702 Can you please look into this and assign the issue to me.

[2021-03-24 03:28] ayush-raj8 commented on #115
@manan-bedi2908 Please assign this to me, I'll come up with a jupyter notebook implementation at first.

[2021-03-24 05:39] manan-bedi2908 commented on #115
@ayush-raj8 Assigned to you! Go ahead

[2021-03-24 12:53] mansi75 commented on #43
@kritikaparmar-programmer
Kindly check my PR

[2021-03-25 06:33] priyanshu20 opened #118 "unnecessary if block in certain routes"
There are certain routes which have only 1 acceptable HTTP verb ,
we do not need an if block in those routes as the code will be executed only if the request.method is the appropriate one.

Eg-

![redudancy](https://user-images.githubusercontent.com/59313375/112428996-11361300-8d62-11eb-92ce-5cc4f434a719.PNG)

Fix -
remove the if block

[2021-03-25 13:39] arpit456jain opened #119 "Gssoc'21 Internal Server Error and Navbar toggle is not working"
## **Describe the bug**

When I clicked on Predict without entering any data it leads to  internal server error.
I occurs in three pages (Diabetes Prediction, Heart Disease Prediction, Cancer Prediction).
<img width="960" alt="health" src="https://user-images.githubusercontent.com/55352601/112480902-7d356d00-8d9c-11eb-85cd-678f0281c597.png">

Navbar toggle is not working.
There should be a redirec

[2021-03-26 08:10] arpit456jain commented on #119
@shreyasZ10 @utkarsh0702 Can you please assign this to me .
I am a Gssoc'21 participant

[2021-03-26 14:16] #4 closed

[2021-03-26 14:28] shubhigupta991 commented on #110
Duplicate and irrelevant issue

[2021-03-26 14:28] #110 closed

[2021-03-26 15:01] shubhigupta991 commented on #44
Any updates @mansi75

[2021-03-26 15:01] shubhigupta991 commented on #47
Any updates?

[2021-03-26 15:02] shubhigupta991 commented on #48
Any updates?

[2021-03-26 15:10] shubhigupta991 commented on #14
@Sibasish-Padhy are you interested in doing this?

[2021-03-26 15:11] shubhigupta991 commented on #20
Any Updates?

[2021-03-26 15:11] #26 closed

[2021-03-26 15:15] shubhigupta991 commented on #33
Any Updates @NitiKaur

[2021-03-26 15:16] shubhigupta991 commented on #40
Any Updates ?

[2021-03-26 15:39] shubhigupta991 commented on #61
Any Update?

[2021-03-26 15:40] shubhigupta991 commented on #62
yes

[2021-03-26 15:43] shubhigupta991 commented on #104
Any Updates?

[2021-03-26 16:20] abhish3k-11 commented on #20
Model is ready. Currently searching for more data to test and train. I'll start commiting in 2-3 days at most.

[2021-03-26 16:51] Divyang0601 commented on #104
Almost done

[2021-03-26 17:15] ritikkumar55 commented on #40
Almost Done @shubhigupta991 Tomorrow I will submit it.

[2021-03-26 18:12] kulendu opened #121 "Improving the Documentation"

[2021-03-26 18:23] noobkid2411 commented on #48
Hi,sorry for not updating beforehand,I'm having some issues with the data size and the images,I'm trying to change the dataset and create a model. Really sorry for not updating before.

[2021-03-26 18:54] shubhigupta991 commented on #40
okay

[2021-03-26 18:58] shubhigupta991 commented on #119
Assigned @arpit456jain go ahead.

[2021-03-26 19:09] shubhigupta991 commented on #48
Okay so how much time you need? because its already 15days after assigning.

[2021-03-26 21:12] noobkid2411 commented on #48
I'll definitely make a pr by this weekend,,if that's okay .I'm sorry I could not deliver on time.

[2021-03-27 05:07] sujoy-coder commented on #62
@shubhigupta991 the forms for prediction is not looking good, may I add some css for make it good looking ?

[2021-03-27 05:14] arpit456jain commented on #119
@shubhigupta991 I had solved this issue May I create a PR.?

[2021-03-27 07:36] arpit456jain commented on #119
@shubhigupta991 please review my PR.

[2021-03-27 07:37] noobkid2411 commented on #48
@shubhigupta991 hi I'm sorry but I won't be able to create a pr as I'm having some trouble processing the data on my machine as of now,I'm trying to clear it up,but if its okay,you could unassign me. I'm really sorry for the inconvenience caused.

[2021-03-27 10:20] shubhigupta991 commented on #48
okay

[2021-03-27 11:05] NEERAJAP2001 opened #124 "Add new Project : Cardiovascular Disease Prediction"
## **Is your feature request related to a problem? Please describe.**
I would Like to add "Cardiovascular disease Prediction" to this project.
Dataset - [Here](https://www.kaggle.com/aiaiaidavid/cardio-data-dv13032020)

## **Describe the solution you'd like**
Follow the ML Pipeline from cleaning to prediction And saving the best model into a pkl File.

I'd Like to work on this as part of GSSOC-21.

[2021-03-27 14:04] priyanshu20 commented on #118
@utkarsh0702 what do u think about this?

[2021-03-27 14:16] utkarsh0702 commented on #118
@priyanshu20 We can leave it, as it's not creating any kind of bug and its just a single line of code.

[2021-03-27 14:18] utkarsh0702 commented on #124
@NEERAJAP2001 No more diseases please.
If you want to work on flask or api you can create an issue.
Please close the pr.

[2021-03-27 14:23] NEERAJAP2001 commented on #124
okay @utkarsh0702

[2021-03-27 14:23] #124 closed

[2021-03-27 14:49] priyanshu20 commented on #118
👍🏽 okay

[2021-03-27 14:49] #118 closed

[2021-03-27 17:17] #119 closed

[2021-03-27 19:17] KhushiChaudhary744 opened #126 "Check weather the patient has a kidney disease or not."
This will be a implementation of simple ml concepts in python.

[2021-03-27 20:05] utkarsh0702 commented on #126
@KhushiChaudhary744 An issue has already been made regarding kidney disease and is already been assigned.
Issue: #12
PR: #99
Please choose a diffferent issue to work on and please close this issue.

[2021-03-27 20:14] sayan9112 opened #127 "<GSSoC'21>Pulse rate measurement through Webcam"
Hi Sayan here. I'm a GSSoC'21 participant.
I found your project insightful and want to contribute.
I would like to add a new feature **Pulse rate measurement through Webcam**.

Please assign me in this issue.

[2021-03-27 20:25] utkarsh0702 commented on #47
@aishwaryachand Please provide update regarding the issue.

[2021-03-27 20:29] #54 closed

[2021-03-27 20:30] utkarsh0702 commented on #61
@ayush237 Please provide update regarding the issue.

[2021-03-27 20:33] utkarsh0702 commented on #70
@ritikkumar55 We are already creating a web app using html and flask, why do we require another one.
If you seem my explanation right, tgem please close thw issue.

[2021-03-27 20:39] utkarsh0702 commented on #75
@Dishita2602 As you know we are building a website, so definetly we won't have a need for nootbooks, but still we are keeping important ones to get reference.
Sorry but we currwntly don't have any need for visualizations and COVID predictions.
I request you to close the issue and come up with a great idea and create a new issue or if you want you can take the issues labeled as Up for Grab.

[2021-03-27 20:41] utkarsh0702 commented on #127
@sayan9112 Can you please explain it a bit more.

[2021-03-27 20:43] utkarsh0702 commented on #82
@Ashsakshi19 Please provide update regarding the issue.

[2021-03-27 20:49] utkarsh0702 commented on #96
@Dhanush2612 An issue and pr regarding this has already been merged.
Please close this pr and regarding a new issue, you can take up any issue labeled with Up for Grab.

[2021-03-27 20:49] utkarsh0702 commented on #98
@RajeshJampa

[2021-03-27 20:49] #98 closed

[2021-03-27 20:54] #105 closed

[2021-03-27 20:58] utkarsh0702 commented on #106
@srimontidutta I am assigning this issue to you

[2021-03-27 21:00] utkarsh0702 commented on #111
@AryaPatel1111 Please share the link to the dataset

[2021-03-27 21:01] utkarsh0702 commented on #112
@Anas-Issa A previous issue has already been created.
Please close the issue.
For open issues look for the label Up for Grab.

[2021-03-27 21:04] utkarsh0702 commented on #116
@vaishnavipatil29  All the mentors and the project admin decided not to give any model improvement issues to any one, as it will affect the points of the precious candidate and it is also an endless process.
Sorry for the unconvince, it took a while to decide.
You can create any new issue regarding flask or api or if you require an issue regarding ML then check for the label Up for Grab

[2021-03-27 22:30] Anas-Issa commented on #112
OK

[2021-03-27 22:30] #112 closed

[2021-03-27 23:06] Anas-Issa commented on #48
I am a gssoc'21 participant.I would like to work on this issue if possible.
Oral Cancer (Lips and Tongue) images Dataset: [Here](https://www.kaggle.com/shivam17299/oral-cancer-lips-and-tongue-images)

[2021-03-27 23:42] aishwaryachand commented on #47
Sorry for the late response ... I am just working with different models . Just give me a couple of days more. Unfortunately I was buzy with exams. So started a  bit late.

[2021-03-28 04:06] #70 closed

[2021-03-28 08:21] #126 closed

[2021-03-28 08:24] kritikaparmar-programmer commented on #121
Hey @kulendu first of all, the readme issue is already made, all the pr's should be made there
Secondly, you did not provide any description for the issue and even you did not wait for any mentor to assign the issue and you created the pr, which is not accepted. So I'm closing this issue.

[2021-03-28 08:24] #121 closed

[2021-03-28 08:24] #116 closed

[2021-03-28 08:25] kritikaparmar-programmer commented on #111
@AryaPatel1111 I think we are done with the diseases now we have to work on the connecting backend and frontend. So closing this issue for now as it's inappropriate.

[2021-03-28 08:25] #111 closed

[2021-03-28 08:26] #96 closed

[2021-03-28 09:07] kulendu commented on #121
Ya sure

[2021-03-28 09:20] kritikaparmar-programmer commented on #90
Updates @AshuKV ?

[2021-03-28 11:00] shubhigupta991 commented on #47
Finish within 2 days because its already 18 days.

[2021-03-28 11:05] shubhigupta991 commented on #104
fixed in #120

[2021-03-28 11:05] #104 closed

[2021-03-28 13:51] shubhigupta991 commented on #48
Assigned @Anas-Issa

[2021-03-28 15:20] arpit456jain opened #131 "[Gssoc'21] Dark Mode with Toggle Button."
## **Is your feature request related to a problem? Please describe.**
No
## **Describe the solution you'd like**

I thought dark-mode will be a cool feature

[2021-03-29 05:33] #77 closed

[2021-03-29 14:44] srimontidutta commented on #106
Thanks!

[2021-03-29 20:12] sayan9112 commented on #127
@utkarsh0702
using open CV we can detect users forehead region.  Data is collected from this location over time to estimate the user's heart rate. This is done by measuring average optical intensity in the forehead location, in the subimage's green channel alone.
With good lighting and minimal noise due to motion, a stable heartbeat should be isolated in about 15 seconds.

[2021-03-30 12:17] arpit456jain commented on #131
@utkarsh0702 @HimanchalChandra  please assign it to me as I am a GSSoC'21 participant

[2021-03-30 13:12] utkarsh0702 commented on #131
In which web app or mobile app

[2021-03-30 13:31] arpit456jain commented on #131
@utkarsh0702 in web app

[2021-03-30 14:09] utkarsh0702 commented on #131
@arpit456jain Ok

[2021-03-30 15:53] arpit456jain commented on #131
@utkarsh0702 please review my PR

[2021-03-30 17:01] utkarsh0702 commented on #127
@sayan9112 What will people do by getting their pulse rate? Please give us a reason why we should add it.

[2021-03-30 17:02] #75 closed

[2021-03-31 04:39] nandinib1999 commented on #14
@shubhigupta991 I would like to give this a try!

[2021-03-31 12:09] shubhigupta991 commented on #14
Okay! Go ahead @nandinib1999

[2021-03-31 15:20] sayan9112 commented on #127
@utkarsh0702 pulse rate is an important feature in any health check app or gadget. Hope you can get it.

[2021-03-31 15:23] aishux opened #142 "Auto Label Bot"
## **Is your feature request related to a problem? Please describe.**

Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

## **Describe the solution you'd like**

I would like

[2021-03-31 17:37] utkarsh0702 commented on #127
@sayan9112 Please continue working, but we will be needing a test proof that the pulse rate your model provides is around the real pulse rate.
If you don't mind we would like to add to your idea, rather then pulse rate you can show the amount of oxygen level in the users body by first getting pulse rate and then converting it to the amount of oxygen in body.

[2021-04-01 09:07] Nishayadav-bit commented on #9
Hey @kritikaparmar-programmer , I'm a GSSOC'21 participant .
I would like to work on this issue, Please assign to me.

[2021-04-01 13:29] #131 closed

[2021-04-01 13:46] #11 closed

[2021-04-01 14:15] kritikaparmar-programmer commented on #20
@abhish3k-11 Updates on this issue?

[2021-04-01 14:17] kritikaparmar-programmer commented on #33
@NitiKaur I think you've been provided with more than enough time, so unassigning you.
@Dishita2602 Would you like to work on this issue?

[2021-04-01 14:19] kritikaparmar-programmer commented on #44
@Dhanush2612 would you like to work on this issue?

[2021-04-01 14:21] kritikaparmar-programmer commented on #43
Closing this issue as pr #140 is merged.

[2021-04-01 14:21] #43 closed

[2021-04-01 14:22] kritikaparmar-programmer commented on #47
@aishwaryachand Updates?

[2021-04-01 14:23] kritikaparmar-programmer commented on #61
Closing this issue because of inactivity for more than 14 days

[2021-04-01 14:23] #61 closed

[2021-04-01 14:25] kritikaparmar-programmer commented on #91
@HOTSONHONET assigning you the issue. Go ahead 🚀

[2021-04-01 14:26] kritikaparmar-programmer commented on #82
Closing this issue because of inactivity for more than 15 days.

[2021-04-01 14:26] #82 closed

[2021-04-01 14:27] kritikaparmar-programmer commented on #62
@sujoy-coder go ahead 👍

[2021-04-01 14:29] kritikaparmar-programmer commented on #48
Closing this issue as #141 pr is merged :)

[2021-04-01 14:29] #48 closed

[2021-04-01 14:52] Dishita2602 commented on #33
yes

[2021-04-01 15:02] sayan9112 commented on #127
@utkarsh0702 I've got your point.  Surely I'll implement  the other features, but let me do the base first. Please assign me.

[2021-04-01 15:07] mansi75 commented on #44
@kritikaparmar-programmer Sorry, ma'am for replying late but I am working on the same. I was working on increase the accuracy of the model, so got late a bit.

[2021-04-01 15:12] Dhanush2612 commented on #44
@kritikaparmar-programmer
I would like to work on the issue

[2021-04-01 15:37] arpit456jain opened #143 "[Gssoc'21] Contact Us Section"
## **Is your feature request related to a problem? Please describe.**

A contact us page can be added with form by which any user can contact to us ..

## **Describe the solution you'd like**
I can add a contact us section

[2021-04-01 15:42] arpit456jain opened #144 "[Gssoc'21] Add a dropdown menu"
## **Is your feature request related to a problem? Please describe.**

I want to add a drop-down menu in navbar which will  contain all  links of types of checks like this.
<img width="614" alt="nav" src="https://user-images.githubusercontent.com/55352601/113319255-e08c4580-932e-11eb-815b-27096338ed50.png">

Currently we have to go to home page for going for any check after this we can go to any p

[2021-04-01 16:08] kritikaparmar-programmer commented on #33
Ok @Dishita2602 assigning this issue to you. Happy Coding :)

[2021-04-01 16:17] kritikaparmar-programmer commented on #143
Hey, @arpit456jain I think the contact us feature is not needed for this project. I've something else on my mind.
Like we can have a link to this repo on the main page with GitHub logo, and we can write like this website is in production, feel free to raise an issue and contribute.
Tell me if you would like to work on this, I'll raise an issue and will assign you to it.

[2021-04-01 16:27] kritikaparmar-programmer commented on #44
Okay, @mansi75 we understand but if you're working on the issue just give us the updates. So I'm giving you 3 days max as we are asked for giving 5 days max. So please try to make a pr within 3 days.

[2021-04-01 16:34] kritikaparmar-programmer commented on #144
Nice idea @arpit456jain Go ahead 🚀

[2021-04-01 17:02] arpit456jain commented on #143
@kritikaparmar-programmer  I think contact us section is  not for queries for contributors. above approach also can be done no problem.
My main motive for contact us section is for the queries of people which will use this website.
Whom would they ask if they had any trouble or doubt.
If there will be contact page they can message us which can be saved in database or can be emailed.
People can sug

[2021-04-01 17:04] arpit456jain commented on #144
thanks for assigning I will make a PR very soon.

[2021-04-01 18:36] arpit456jain opened #146 "Improve the footer"
## **Is your feature request related to a problem? Please describe.**

I want to replace the current footer with this
<img width="960" alt="3" src="https://user-images.githubusercontent.com/55352601/113337787-e04b7480-9345-11eb-9978-a6dcccb297a4.png">

I had made this for my project last month .
Although its very simple but still better than the current one

[2021-04-01 18:38] #146 closed

[2021-04-01 19:23] srimontidutta commented on #106
I'm still working on it, got stuck in a particular part. I'll make the PR by Monday.

[2021-04-02 07:55] #144 closed

[2021-04-02 08:11] barnamensch056 opened #148 "Flask route for Stroke prediction"
## **Is your feature request related to a problem? Please describe.**

- As there are several models but the flask routes are still not added, I want to work on one.
## **Describe the solution you'd like**

-The model of stroke is saved in a pickle file with which I will create a route in app.py .

[2021-04-02 08:55] arpit456jain commented on #144
@kritikaparmar-programmer kindly add the label of level as i didn't get any points for it.

[2021-04-02 10:42] shubhigupta991 commented on #148
Assigned @barnamensch056

[2021-04-02 14:10] #142 closed

[2021-04-02 14:15] kritikaparmar-programmer opened #151 "Flask Route for Liver Disease Prediction"
Create a Flask Route for Liver Disease Prediction
Model - The liver-disease model is in the Models folder.

[2021-04-02 14:17] kritikaparmar-programmer commented on #9
Hey @Nishayadav-bit this issue is open to all, just comment on the changes you want to do and a mentor will approve the change then you can directly create a pr.

[2021-04-02 14:17] aishux commented on #142
Please give me a level tag too.

[2021-04-02 14:18] kritikaparmar-programmer commented on #142
Hey we give level tag in PR's only :)

[2021-04-02 14:20] kritikaparmar-programmer commented on #5
Hey @flyingsonu122 and @mohdaadilf take a look now, we have resolved the problem, if you're still facing it, contact any one of the mentors.

[2021-04-02 14:25] kritikaparmar-programmer opened #152 "Add Github Action to mark issues as Stale"
Add a Github Action to mark stale Issues with a Tag. Issues that are not assigned, or have not been mentioned anywhere for more than 7 Days should be tagged with a "Stale" tag automatically.

[2021-04-02 15:10] JanhaviSoni commented on #151
@kritikaparmar-programmer Please assign this issue.

[2021-04-02 15:26] mansi75 commented on #44
@kritikaparmar-programmer
https://github.com/kritikaparmar-programmer/HealthCheck/pull/153
Pull request generated, kindly check

[2021-04-02 17:29] ayush-raj8 commented on #151
@kritikaparmar-programmer I can give it a try if assigned , worked with flask backend earlier.

[2021-04-02 19:05] kritikaparmar-programmer commented on #151
@JanhaviSoni I'm assigning you on a first come first serve basis. Feel free to reach out to any mentor or me if you face any problems. Happy Coding :)

[2021-04-02 19:10] kritikaparmar-programmer commented on #90
I'm closing this issue as the page is working fine now.

[2021-04-02 19:10] #90 closed

[2021-04-02 19:51] mohdaadilf commented on #5
@kritikaparmar-programmer Unfortunately, still getting issue 'ModuleNotFoundError: No module named 'sklearn.ensemble.forest''. Not able to install the specified scikit-learn module either. Only able to install the latest version.
Could one of the mentors help?

`Traceback (most recent call last):
  File "d:\project\healthcheck\env\lib\site-packages\flask\cli.py", line 240, in locate_app
    __impo

[2021-04-02 20:36] ayush-raj8 commented on #152
@kritikaparmar-programmer I'll like to work , although might need help of mentor bcoz this is first of it's kind.

[2021-04-03 03:46] utkarsh0702 opened #154 "Disease Page for User Category"
Disease Page will contain all the diseases out of which user will choose one. The UI can be kind of similar to the Category page.

[2021-04-03 03:53] utkarsh0702 opened #155 "Page for Parkinson Disease Prediction"
Page will contain the form text field in which user will enter the values and click on submit button to get result. Validation for empty and type missmatch should be added.

[2021-04-03 07:42] kritikaparmar-programmer commented on #152
Ok, @ayush-raj8 assigning the issue to you.

[2021-04-03 07:46] kritikaparmar-programmer commented on #5
Hey, @mohdaadilf  have you taken the pull and updated your forked repo?

[2021-04-03 12:00] AshuKV commented on #155
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-03 12:14] utkarsh0702 commented on #155
@AshuKV This is for the mobile app, you know that right. If you are comfortable with flutter, I am happy to assign this issue to you.

[2021-04-03 12:29] AshuKV commented on #155
Hey @utkarsh0702 I am not acknowledged with flutter, please assign it to somebody else.

[2021-04-03 13:11] mohdaadilf commented on #5
@kritikaparmar-programmer Deleted the old folder cloned the project fresh. Hence didn't have to update.

[2021-04-03 16:08] Divyang0601 opened #156 "Adding Brain Tumor detection model using Deep Learning"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-03 16:27] #115 closed

[2021-04-03 16:35] kritikaparmar-programmer commented on #156
Similar to #18.

[2021-04-03 16:35] #156 closed

[2021-04-03 17:00] arpit456jain commented on #143
@kritikaparmar-programmer should I close this issue if there is no need.?

[2021-04-03 17:06] arpit456jain commented on #91
@kritikaparmar-programmer there is a **help wanted** tag what does it means??
Can I work on it too ?

[2021-04-04 06:02] Divyang0601 opened #157 "Improving Diabetes model performance(Accuracy improved from 79 to 89 percent) with proper data analysis"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-04 06:06] Divyang0601 commented on #157
The current diabetes model that is present in the repository, predicts the presence of disease with 79 percent accuracy.

With proper feature engineering and analysis, I have come up with a model that predicts diabetes with more than 89 percent accuracy, along with excellent precision, recall and F1 score

[2021-04-04 06:52] utkarsh0702 commented on #157
@Divyang0601 Assigning it to you.

[2021-04-04 07:04] AshuKV commented on #154
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-04 07:46] sakshi012000 commented on #47
@kritikaparmar-programmer  I am a GSSoC participant can you please assign me this?

[2021-04-04 09:40] utkarsh0702 commented on #154
@AshuKV This issue is to develope in flutter

[2021-04-04 09:42] utkarsh0702 commented on #47
@sakshi012000 Assigning it to you.

[2021-04-04 18:29] #143 closed

[2021-04-05 17:59] Inventor77 commented on #91
@kritikaparmar-programmer Please mam let me work on this Issue I will soon present some mock ups after get assigned and as it get approved I will start working on it

[2021-04-05 18:09] srimontidutta commented on #106
The code is completed. Do I have to include a readme file as well?

[2021-04-05 18:25] HOTSONHONET commented on #91
thanks ma'am

[2021-04-05 20:21] ayush-raj8 commented on #152
@kritikaparmar-programmer
 I've a working model for the "stale" tag. I tested it one my repo bcoz apparently new issues cannot be used in forked repo . Here is my proof of concept.
sample issue
<img width="698" alt="Screenshot 2021-04-05 232220" src="https://user-images.githubusercontent.com/52033949/113622205-4a338900-967a-11eb-8d60-5e8b3b7475dc.png">
sample issue after one ( seven can be set ins

[2021-04-06 05:36] Borahb commented on #155
Can I Work on this issue under gssoc'21? I  am comfortable with flutter.

[2021-04-06 05:37] Borahb commented on #154
Can you assign me this issue? #gssoc21

[2021-04-06 05:38] utkarsh0702 commented on #155
@Borahb Sure. Please see the existing UI and please push your changes on flutter branch. I am assigning it to you.

[2021-04-06 05:43] Borahb commented on #155
okay

[2021-04-06 05:48] utkarsh0702 commented on #154
@Borahb Sure

[2021-04-06 09:06] sakshi012000 commented on #47
@utkarsh0702  I have made a PR please check it. PR: #161

[2021-04-06 10:45] sakshi012000 commented on #47
@utkarsh0702 Please check my updated PR. PR: #161

[2021-04-06 12:22] anirudhsai20 opened #162 "Grammatical errors in the Readme file"
There are a lot of grammatical errors in the Readme file which needs correction.

[2021-04-06 12:23] anirudhsai20 commented on #162
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 12:46] srisatya1197 opened #163 "Improve tech stack in readme file with logos"
I want to improve tech stack in readme file with logos. I'm a participant of GSSOC'21 please assign this issue to me.

[2021-04-06 14:29] kritikaparmar-programmer commented on #163
Hey @srisatya1197 we have #9 issue always opened for the changes in Readme file, please don't open a new issue regarding any change in the readme. So you can work on the issue rn but in the future never do this.

[2021-04-06 14:30] kritikaparmar-programmer commented on #162
Hey @anirudhsai20 please take a look at the pinned issues first #9 is always opened for such readme changes. I'm closing this issue, still you can work on this issue, just comment down in the #9 issue.

[2021-04-06 14:30] #162 closed

[2021-04-06 14:31] #163 closed

[2021-04-06 14:44] #62 closed

[2021-04-07 04:57] #47 closed

[2021-04-07 10:09] anirudhsai20 commented on #9
Hi! There are a lot of grammatical errors in the Readme file that I would like to correct. Please assign this issue to me under GSSOC.

[2021-04-07 13:54] Borahb commented on #154
@utkarsh0702  how should the UI look like ?

[2021-04-07 14:29] Borahb commented on #154
@utkarsh0702 have a look on this UI
![Screenshot_1617805681](https://user-images.githubusercontent.com/49881148/113883398-c0033600-97db-11eb-85d5-7c425ccb6190.png)

[2021-04-07 14:30] Borahb commented on #155
@utkarsh0702  Have a look this UI
![Screenshot_1617805708](https://user-images.githubusercontent.com/49881148/113883549-df9a5e80-97db-11eb-86d5-9a10a665ac53.png)
![Screenshot_1617805715](https://user-images.githubusercontent.com/49881148/113883555-e0cb8b80-97db-11eb-8ca7-01019114e8e6.png)

[2021-04-07 14:36] utkarsh0702 commented on #154
@Borahb we will keep the UI simple, and the screenshot you send will work fine. Just one thing, why is it blur. We will add images in place of colored containers

[2021-04-07 14:42] utkarsh0702 commented on #155
@Borahb The UI looks good but please change the color of the button and also you need to add one validation of not leaving it empty and if there are fixed options like gender, where there are 2 options only, you can use radio button instead of text field.

[2021-04-07 16:27] Borahb commented on #155
@utkarsh0702 okay suggest some colors and I have added validation for not leaving it empty.

[2021-04-07 16:32] Borahb commented on #154
@utkarsh0702  the blur is due to offset. Okay, then should I push this page with this UI.

[2021-04-07 18:19] Borahb opened #169 "Adding breast cancer detection to the project."
I want to add a new feature of breast cancer detection to this project.

#gssoc21

[2021-04-07 18:49] Dishita2602 commented on #20
If no update I can do . Please assign me

[2021-04-07 19:30] saidrishya opened #170 "Histopathologic Cancer Detection"
Hi, I am a GSSOC participant and would like to work on the above issue. Kindly assign it to me.

[2021-04-07 20:12] utkarsh0702 commented on #169
@Borahb sorry, but currently we are trying not to adding any new ml models. But after the web and the android frameworks will over, we will add few more ml models if required.

[2021-04-07 20:13] utkarsh0702 commented on #170
@saidrishya Sorry, but currently we are trying not to adding any new ml models. But after the web and the android frameworks will over, we will add few more ml models if required.

[2021-04-07 20:23] utkarsh0702 commented on #154
@Borahb ok, just do one thing get the names of a few of the disease that the project have, get an image for every disease and put them in place of these colored boxes and place an empty onTap functionality.
Do the changes and create a pr.

[2021-04-07 20:25] utkarsh0702 commented on #155
@Borahb add any color that suits the dark theme, red is just kind of a pinching color that why i asked to change it.

[2021-04-08 05:15] Borahb commented on #169
okay @utkarsh0702

[2021-04-08 11:56] arpit456jain opened #172 "[Gssoc'21] 404 page"
## **Is your feature request related to a problem? Please describe.**
There is not page for 404 request
<img width="960" alt="p11" src="https://user-images.githubusercontent.com/55352601/114022511-796f1380-988f-11eb-9641-76b159fdfb97.png">

## **Describe the solution you'd like**
I want to add a 404 page to it.

[2021-04-08 13:31] Borahb commented on #154
@utkarsh0702  Actually  I am not able to find the appropriate picture of the disease to be used here. Like it would be better if PA selects the right picture for it. So, can I push with the present UI?

[2021-04-08 14:34] #157 closed

[2021-04-08 15:54] kritikaparmar-programmer commented on #172
Nice idea @arpit456jain. Go ahead 🚀

[2021-04-08 15:55] #169 closed

[2021-04-08 15:56] kritikaparmar-programmer commented on #14
@nandinib1999 updates?

[2021-04-08 15:57] arpit456jain commented on #172
Ok @kritikaparmar-programmer  thanks

[2021-04-08 15:57] kritikaparmar-programmer commented on #20
@Dishita2602 assigning the issue to you.

[2021-04-08 16:06] #44 closed

[2021-04-08 16:08] #50 closed

[2021-04-08 16:08] manan-bedi2908 commented on #33
@Dishita2602 Hi, kindly create a new branch in this repo and create a pr by pushing the changes to that newly created branch.
We will then merge it

[2021-04-08 16:10] kritikaparmar-programmer commented on #91
@HOTSONHONET it's been more than 7 days and you've not made any or, or updated us, are u still working on this issue?

[2021-04-08 16:12] kritikaparmar-programmer commented on #106
@srimontidutta It's up to you just made a pr of the changes the mentors will review.

[2021-04-08 16:20] #152 closed

[2021-04-08 16:57] nandinib1999 commented on #14
Can I send PR by the weekend? I was a bit caught up in my college tests in the past week

[2021-04-08 17:23] utkarsh0702 commented on #154
Okay then just leave an alternative image there, i will replace them. Create a pr.

[2021-04-08 17:51] ayush-raj8 commented on #152
@kritikaparmar-programmer Was there any level associated with this?

[2021-04-08 18:24] Dishita2602 commented on #33
Alright !

[2021-04-08 18:24] JanhaviSoni commented on #151
@kritikaparmar-programmer I just have to add flask route and need not add .html files . If so what should I pass give the some name which can be made by someone.

[2021-04-09 04:17] #148 closed

[2021-04-09 06:05] Borahb opened #175 "Improving the parkinsons disease model with more data analysis"
## Proposal

The current Parkinson's model predicts Parkinson's disease with 94% accuracy. With the dimensionality reduction technique, I have come up with a model which will predict Parkinson's disease with accuracy above 95 %  and with a very good F1 score.

#gssoc21

[2021-04-09 09:02] arpit456jain commented on #172
https://user-images.githubusercontent.com/55352601/114156578-5c464d80-9940-11eb-83e5-17d4536bc834.mp4

https://user-images.githubusercontent.com/55352601/114156599-61a39800-9940-11eb-9460-1ff0c8c73f6a.mp4

@kritikaparmar-programmer how this .??
can I make a PR for this.

[2021-04-10 06:43] kritikaparmar-programmer commented on #151
Yes, @JanhaviSoni flask route means the complete path from frontend to the backend. Still if you're facing problem juts make a pr of what you're able to do, we will assign you the points accordingly :)

[2021-04-10 08:47] ayush-raj8 opened #177 "Adding flask route for malaria model and required frontend pages for the same"
## Feature request

-  Add a new html page for malaria disease and integrate it with malaria model present in model section. This page will take image as the input and give result .[...]

I would like to work if assigned.

[2021-04-10 09:30] kritikaparmar-programmer commented on #177
Assigned @ayush-raj8 🚀

[2021-04-10 12:11] arpit456jain commented on #172
@kritikaparmar-programmer kindly select one of the above 404 page or tell me if I have to make another one .
then I can create a PR

[2021-04-10 13:48] kritikaparmar-programmer commented on #172
I think this one looks nice, great work @arpit456jain , you can make a pr for this :)

[2021-04-10 13:49] arpit456jain commented on #172
Ok @kritikaparmar-programmer i am making a PR

[2021-04-10 14:02] geekymeeky opened #179 "Error when submitting blank form"
## **Error when submitting blank form**

- Submitting blank form in Diabetes Prediction and Heart Disease Prediction throws an error.

## **Possible solution**

- Optimize the backend with appropriate error handling technique and provide user-friendly response.

[2021-04-10 14:03] geekymeeky commented on #179
As a participant of GSSoC'21, I want to work on this issue.

[2021-04-10 16:07] kritikaparmar-programmer commented on #179
Okay @geekymeeky start working on it.

[2021-04-10 16:13] vanshu25 opened #181 "Visualizations for the numerical datasets"
Hi, I am a GSSOC'21 participant and I want to create visualizations for the numerical datasets that are used in this project.
I will do this by using libraries like matplotlib, seaborn, and plotly in pyhton.

[2021-04-10 17:22] arpit456jain commented on #172
@kritikaparmar-programmer kindly review my PR

[2021-04-11 09:35] Dishita2602 commented on #33
I have made pull request Cervic_Risk_#33 #183 kindly review it.

[2021-04-12 05:07] Dishita2602 commented on #40
I would like to work on this if no updates

[2021-04-12 10:18] arpit456jain commented on #91
I would like to work on this under GSSoC'21

[2021-04-12 10:19] arpit456jain opened #185 "Enhancing the footer part"
I would like to give it a try to make the footer more attractive .
I am a GSSoC'21 participant

[2021-04-12 10:19] arpit456jain commented on #185
@kritikaparmar-programmer kindly assign me this issue

[2021-04-12 10:26] Dishita2602 commented on #20
I am unable to find suitable data set for determining insulin intake. The dataset mentioned above is too shot for predictions. Can you suggest me something better that you want to get implemented ?

[2021-04-12 18:14] shubhigupta991 commented on #20
Closing this issue then.

[2021-04-12 18:14] #20 closed

[2021-04-12 18:28] JanhaviSoni commented on #151
@kritikaparmar-programmer  we need to push to dev branch

[2021-04-13 08:47] shubhigupta991 opened #188 "Adding Changes Requested label."
Automatically add changes requested label to the PRs on which reviewer requested the changes. Also add Under Review label to the issues related to that PRs.

[2021-04-13 09:57] shubhigupta991 commented on #127
@sayan9112 what's the update?

[2021-04-13 10:06] shubhigupta991 commented on #185
Go ahead @arpit456jain

[2021-04-13 10:44] arpit456jain commented on #185
@shubhigupta991 can you please merge my pr opened for issue 172 @kritikaparmar-programmer already approved my 404 page in issue section after that i had made the pr

[2021-04-13 13:39] ayush-raj8 commented on #91
I would like to work and have ideas to make front page better , if assigned.

[2021-04-14 08:35] geekymeeky commented on #179
@shubhigupta991 I've already opened a PR for this issue. Kindly, review it and let me know if any change is necessary.

[2021-04-14 09:08] Aayush-hub commented on #188
@shubhigupta991 Can I look into it?

[2021-04-14 14:09] sayan9112 commented on #127
I'll  submit it via 16

[2021-04-14 17:07] #40 closed

[2021-04-15 12:54] arpit456jain commented on #185
@utkarsh0702 @shubhigupta991 @kritikaparmar-programmer

[2021-04-15 17:21] #18 closed

[2021-04-15 17:21] #12 closed

[2021-04-15 18:07] arpit456jain opened #189 "[Gssoc'21] Login/Sign up functionality"
## **Is your feature request related to a problem? Please describe.**

There is no login/signup feature

## **Describe the solution you'd like**
I would like to add login and signup functionality

[2021-04-16 15:49] JanhaviSoni opened #190 "Flask route for Parkinson Disease"
## Proposal

Flask route for Parkinson disease

[2021-04-16 17:51] srimontidutta commented on #106
Thanks for the reply. I could not come online due to exams, I'll make the PR this weekend.

[2021-04-16 19:54] ayush-raj8 commented on #190
I would like to work if assigned.

[2021-04-17 05:48] #172 closed

[2021-04-17 09:49] ayush-raj8 commented on #177
Please review and merge

[2021-04-17 16:02] srisatya1197 commented on #9
Hello sir/ma'am I want to add no.of forks, stars, pr's and other in readmefile.
Like:
![ss5](https://user-images.githubusercontent.com/78905067/115119109-5eee1600-9fc4-11eb-8656-26fd7942e714.png)

[2021-04-18 05:06] srisatya1197 opened #192 "I want to add no.of forks,pr's, stars and other in the readme file ."
I want to add no.of forks,pr's, stars and other in readme file .
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119007-e4bd9180-9fc3-11eb-92d0-d3443cace202.png)
I want to work on this . Please assign me this issue.

[2021-04-18 05:30] #155 closed

[2021-04-18 05:31] #154 closed

[2021-04-18 08:23] kritikaparmar-programmer commented on #192
Assigned @srisatya1197.

[2021-04-18 08:26] srisatya1197 commented on #192
Thankyou @kritikaparmar-programmer

[2021-04-18 08:31] srisatya1197 commented on #192
@kritikaparmar-programmer I have seen the techstack in readme file should I improve them with logos?

[2021-04-18 09:06] #5 closed

[2021-04-18 09:08] #177 closed

[2021-04-19 15:50] ayush-raj8 commented on #177
@kritikaparmar-programmer  @utkarsh0702 please update with proper level and update my score.

[2021-04-20 15:19] Inventor77 commented on #91
@kritikaparmar-programmer Please mam assign me this Issue

[2021-04-21 12:34] #33 closed

[2021-04-21 12:46] shubhigupta991 commented on #127
its 21?

[2021-04-21 16:54] sayan9112 commented on #127
@shubhigupta991 I'm sorry, but due to some issues I can't submit the code.

[2021-04-21 21:16] kritikaparmar-programmer commented on #91
@arpit456jain assigning this issue to you on the basis of first come first serve.

[2021-04-21 21:18] #179 closed

[2021-04-22 00:39] arpit456jain commented on #91
Ok @kritikaparmar-programmer .

Kindly review my open Pr for footer enhancement

[2021-04-22 13:29] arpit456jain commented on #185
@kritikaparmar-programmer @shubhigupta991 @utkarsh0702 😅😅😅😅😅😅😅😅

[2021-04-23 03:13] #189 closed

[2021-04-23 06:08] #175 closed

[2021-04-23 14:32] ayush-raj8 opened #196 "Adding Symptoms to Diseases"
## **Adding Symptoms to Diseases**
It takes symptoms like fever, cough, chills etc as inputs and predicts disease .

I'll like to work on add trained model with dataset .

[2021-04-23 18:16] #106 closed

[2021-04-24 10:04] srimontidutta opened #198 "Determination of Tumor malignancy"
Determination of the malignant nature of Tumor using patient details.

[2021-04-24 16:49] #181 closed

[2021-04-24 21:59] #151 closed

[2021-04-24 22:05] #185 closed

[2021-04-25 07:24] kritikaparmar-programmer commented on #192
Yes sure 👍 @srisatya1197

[2021-04-25 07:24] kritikaparmar-programmer commented on #190
@JanhaviSoni assigned 👍

[2021-04-25 12:30] srisatya1197 commented on #192
ok thanks I'll start working on it immediately @kritikaparmar-programmer .

[2021-04-25 12:32] #14 closed

[2021-04-28 05:33] arpit456jain commented on #91
@kritikaparmar-programmer kindly review my PR

[2021-04-28 11:23] Divyang0601 opened #202 "Improving Heart Model performance (from 78 to 92 percent accuracy)"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

-By applying proper feature engineering technique and using StackCV Classifier model, I can drastically improve
the performance of the heart disease model

[2021-04-28 12:09] #188 closed

[2021-04-28 15:19] shubhigupta991 commented on #198
Please provide the dataset?

[2021-04-29 06:26] #192 closed

[2021-04-29 06:27] #16 closed

[2021-04-30 08:46] Sumhack commented on #181
Can I work on this issue?

[2021-04-30 14:38] kritikaparmar-programmer commented on #202
Assigning you @Divyang0601. Make a new .ipynb file, don't delete or edit the previous ones.

[2021-05-01 14:28] Borahb opened #205 "Improvement of Parkinsons Disease Model"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**
I can improve the current Parkinson's disease model by applying dimensionality reduction technique so that to increase accuracy and confusion matrix.

[2021-05-01 22:29] #85 closed

[2021-05-02 10:43] arpit456jain commented on #91
<img width="934" alt="footer" src="https://user-images.githubusercontent.com/55352601/116810397-2e2fe400-ab61-11eb-9be7-ab2222f44e51.png">

@kritikaparmar-programmer I have made this footer check if its suits to you if yes I can make a Pr for this if no then no problem

[2021-05-03 09:37] ayush-raj8 commented on #196
@utkarsh0702 @kritikaparmar-programmer   Plz confirm

[2021-05-03 16:56] utkarsh0702 commented on #196
@ayush-raj8 We are currently doing some major changes in backend so we currently won't be merging any new prs.
Regarding your issue, there are many possible diseases who have a  symptoms of cough and cold and fever, how will it reach an end point while predicting a disease.

[2021-05-03 16:57] utkarsh0702 commented on #198
@srimontidutta Is it similar to detecting a tumor from an image?

[2021-05-03 16:59] utkarsh0702 commented on #205
@Borahb Have you tried using dimensionality reduction?

[2021-05-03 17:03] #202 closed

[2021-05-03 18:41] Borahb commented on #205
@utkarsh0702  Yaa I have tried dimensionality reduction.

[2021-05-04 04:08] utkarsh0702 commented on #205
@Borahb What was the accuracy?

[2021-05-04 04:38] Borahb commented on #205
@utkarsh0702  Accuracy came above 95% ,  close to 96 or 97.

[2021-05-04 05:36] utkarsh0702 commented on #205
@Borahb Create a pr.

[2021-05-04 14:19] KajalSinghBAGHEL opened #208 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:20] KajalSinghBAGHEL commented on #208
I am a GSSOC participant. Can I work on this issue

[2021-05-05 07:09] mansi75 opened #209 "Skin cancer prediction"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-05-05 07:10] mansi75 commented on #209
https://www.kaggle.com/kmader/skin-cancer-mnist-ham10000
Kindly, assign me this project

[2021-05-05 18:22] srimontidutta commented on #198
I have not finalized one yet.

[2021-05-05 18:23] srimontidutta commented on #198
It will include the analysis of the nature of the tumor based on multiple parameters related to both the tumor and the patient.

[2021-05-05 19:22] #127 closed

[2021-05-06 12:35] Divyang0601 opened #210 "Improving Kidney Model with upto 98% + accuracy"
## **Is your feature request related to a problem? Please describe.**

- By proper dimensionality reduction and feature scaling I intend to improve the performance of the kidney model

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-05-06 12:38] Divyang0601 opened #211 "Improving the Liver Model to 98+ accuracy"
## **Is your feature request related to a problem? Please describe.**

WIth proper data analysis, I intend to improve the performance of the liver model

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-05-06 12:42] Manasi2001 opened #212 "Diabetes Prediction"
Although some analysis has been done on the topic, but I would like to include some more concepts like VIF and outliners checking in my notebook and will use Logistic Regression. They'll allow to filter out the dirty data that creeps in, hence boosting the accuracy. I would like to work on this under GSSoC'21. Please assign it to me.

[2021-05-06 17:06] utkarsh0702 commented on #210
@Divyang0601 Assigning it to you.

[2021-05-07 04:05] SpecTEviL commented on #91
@kritikaparmar-programmer Is this project hosted somewhere so that I can see the Homepage and if possible work on this issue?

[2021-05-07 10:57] Divyang0601 commented on #211
Pls assign this issue

[2021-05-07 12:11] kritikaparmar-programmer commented on #190
@ayush-raj8  are you willing to work on this issue?

[2021-05-07 12:17] JanhaviSoni commented on #190
@kritikaparmar-programmer I will complete it . There is some covid related
issue . So it might take time

On Fri, May 7, 2021, 17:42 Kritika Parmar ***@***.***> wrote:

[2021-05-07 15:11] Manasi2001 commented on #212
@kritikaparmar-programmer please assign the issue :)

[2021-05-08 15:41] barnamensch056 opened #214 "Covid19 CT images."
## **Is your feature request related to a problem? Please describe.**

- I will like to generate a model to predict the Covid19 using  CT images.
## **Describe the solution you'd like**

-  CT scans give more imaging features in predicting Covid19 and moreover if in future a flask route can be created for testing covid report using both x-rays and CT scans :).

[2021-05-09 07:14] utkarsh0702 commented on #209
@mansi75 The dataset contains text. Can we really predict skin cancer without image data.

[2021-05-09 07:17] utkarsh0702 commented on #198
@srimontidutta Please finalize dataset and if dataset will be okay, then we will assign the issue.

[2021-05-09 07:20] utkarsh0702 commented on #212
@Manasi2001 Assigning it to you

[2021-05-11 06:54] nash1o7 opened #217 "Hyperparameter tuning of ML models of Cervical Cancer Risk Classification Notebook for 99%+ Accuracy"
Hi @kritikaparmar-programmer  @utkarsh0702

## Proposal

I am a GSSOC 2021 Participant. After hyperparameter tuning of ML models (Logistic Regression,SVC,Random forest,Adaboost) of Cervical Cancer Risk Classification Notebook  I am  getting an accuracy of 99%+. Can you assign this to me?

[2021-05-11 11:14] subhangi2731 commented on #91
If no one is working on this issue can I work @kritikaparmar-programmer

[2021-05-11 14:38] barnamensch056 commented on #214
@kritikaparmar-programmer can you assign to this issue?

[2021-05-12 13:54] KajalSinghBAGHEL commented on #208
Please check my pull request

[2021-05-12 16:42] utkarsh0702 commented on #214
@barnamensch056 please provide link to the dataset.

[2021-05-12 16:44] utkarsh0702 commented on #217
@nash1o7 Is this training accuracy or validation accuracy?

[2021-05-12 16:47] #205 closed

[2021-05-12 16:51] barnamensch056 commented on #214
https://www.kaggle.com/luisblanche/covidct  here is the link.

[2021-05-12 16:54] utkarsh0702 commented on #214
@barnamensch056 Assigning it to you.

[2021-05-12 17:02] barnamensch056 commented on #214
Thsnks @utkarsh0702 👍

[2021-05-12 17:03] nash1o7 commented on #217
@utkarsh0702 for both training & test dataset

[2021-05-13 04:33] utkarsh0702 commented on #217
@nash1o7 Assigning it to you.

[2021-05-14 11:46] #212 closed

[2021-05-14 12:37] #190 closed

[2021-05-14 18:14] Borahb opened #219 "Addition of Breast Cancer Detection Model"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- I think it would be great if breast cancer detection model is also added, as there already different models predicting different diseases.
- I can make the prediction model with a good accur

[2021-05-15 12:46] #217 closed

[2021-05-16 18:12] sudipg4112001 opened #221 "Disease sorting from symptoms"
I would like to add a project where we can predict diseases of a person from its symptoms.

[2021-05-16 18:29] sudipg4112001 opened #222 "Parkinson's disease indicator"
I would like to add a project for Parkinson's disease classification.

[2021-05-17 10:47] arpit456jain opened #224 "Bug In Dark mode"
## **Describe the bug**
Dark mode toggle button is not visible in Desktop  View but its visible in small screen view

<img width="960" alt="dk" src="https://user-images.githubusercontent.com/55352601/118476584-50159300-b72b-11eb-9164-8eaf7a9c652d.png">

[2021-05-18 04:45] SpecTEviL commented on #91
Awaiting your reply @kritikaparmar-programmer. If this issue isn't active do let us know that. Thanks!

[2021-05-19 14:24] #208 closed

[2021-05-20 17:53] #210 closed

[2021-05-21 04:41] #214 closed

[2021-05-21 04:42] utkarsh0702 commented on #222
@sudipg4112001 there is already a notebook and a model for pakinson disease.

[2021-05-21 17:25] Borahb commented on #211
Can I work on this issue? @utkarsh0702

[2021-05-21 19:05] Borahb commented on #219
@utkarsh0702  Can I work on this issue ?

[2021-05-22 04:23] utkarsh0702 commented on #211
Ok

[2021-05-22 04:26] utkarsh0702 commented on #219
@Borahb Please create the liver model pr first, then I will assign it to you.

[2021-05-22 04:36] Borahb commented on #211
@utkarsh0702  no I was not assigned this issue. As this issue was stale , I thought of asking you to assign it me.

[2021-05-22 08:05] earnsans commented on #91
hii, I'm a GSSOC'21 participant, I can make this homepage attractive, could you please assign this issue to me @kritikaparmar-programmer

[2021-05-23 07:29] #209 closed

[2021-05-23 07:29] #198 closed

[2021-05-24 08:13] JanhaviSoni opened #225 "Parkinson flask route"
## Proposal

I would like to add flask route for Parkinson disease.

[2021-05-24 11:28] #224 closed

[2021-05-27 10:05] KajalSinghBAGHEL opened #227 "Update README.md"
remove grammatical mistakes

[2021-05-27 10:05] KajalSinghBAGHEL commented on #227
I am a GSSOC participant. Can I work on this issue

[2021-05-27 18:08] kritikaparmar-programmer commented on #225
Ok @JanhaviSoni go ahead

[2021-05-27 21:48] manisha-27 opened #228 "Kidney stone prediction"
Detection of Kidney stone in the Ultrasound and CT scan images using Image processing and Machine Learning.

[2021-05-28 09:27] utkarsh0702 commented on #228
@manisha-27 You opened the issue 12 hour back, nobody assigned it to you and then you opened a pr just after an hour.
I am assigning you the issue for the last time. Please don't do this kind of work again, it's against the code of conduct.

[2021-05-29 05:12] utkarsh0702 commented on #211
@Borahb I have already assigned you the issue. Please create a pr within 2 days otherwise, I have to close this issue.

[2021-05-29 05:13] #222 closed

[2021-05-29 05:21] Borahb commented on #211
@utkarsh0702  I have tried for achieving 98 but I could only get up to  74

[2021-05-29 18:43] JanhaviSoni commented on #225
@kritikaparmar-programmer @shubhigupta991 I have got some error . While running app.py in conda it says tensorflow.keras.models import load_model not found though keras and tensorflow both are installed

[2021-05-30 19:01] #221 closed

[2021-05-30 19:09] #211 closed

[2021-05-30 19:16] Borahb commented on #219
@utkarsh0702  can you open this issue,  can make the PR by morning.

[2021-05-31 04:20] utkarsh0702 commented on #219
@Borahb Create the pr by today.

[2021-05-31 05:01] Borahb commented on #219
@utkarsh0702  made the PR

[2021-06-04 06:59] #219 closed

[2021-06-04 07:00] utkarsh0702 commented on #225
@JanhaviSoni Please create the PR by tomorrow.

[2021-06-04 07:00] #227 closed

[2021-06-04 11:52] KajalSinghBAGHEL commented on #227
Please check my pull request

[2021-06-11 11:18] #228 closed

[2021-06-18 07:25] #225 closed

[2022-07-25 14:22] #91 closed

[2022-07-25 14:22] #9 closed